.large-header {
    background-image: url(../images/headers/contact-us.jpg);
    background-position: top;
    height: 90vh;
    margin-bottom: 0rem;
}

.gradient {
        background-image: linear-gradient(to right, #212529ab , #21252958 ,#21252900 , #21252900);
        height: 100%;
        width:100%;
    }


