/* HEADER */

.large-header {
  background-image: url(../images/headers/webP/contact-us.webp);
  background-position: top;
  height: 60vh;
  margin-bottom: 0rem;
}

.gradient {
  background-image: linear-gradient(to right, #212529ab, #21252958, #21252900, #21252900);
  height: 100%;
  width: 100%;
}

/* SECTION 1 */

.section-1 {
  padding-top: 1.5rem;
  background-color: var(--dusty-blue);
  border-top: 0.18rem solid var(--bg-grey);
  border-bottom: 0.18rem solid var(--bg-grey);
}

  .section-1 .section-title {
    border: 0.18rem solid var(--bg-grey);
  }

  .section-1 .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem 1rem;
  }

    .section-1 h6 {
      margin: 0rem;
      padding: 1rem 1rem;
      font-size: 1.5rem;
    }

    .section-1 .contact p {
      padding: 0.2rem 0rem;
      font-size: 1.5rem;
      font-style: italic;
    }

  .section-1 .text {
    padding: 1.5rem 1rem;
  }

  .section-1 .btn-grey {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    text-align: left;
  }

  .section-1 img{
    object-fit: cover;
  }
/* SECTION 2 */

.section-2 {
  display: flex;
  flex-direction: row;
  margin: 0rem;
  padding: 1.5rem 1rem;
  background-image: url(../images/background-images/webp/wood-background.webp);
  background-blend-mode: darken;
  background-color: #212529b6;
  border-bottom: 0.18rem solid var(--bg-grey);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--bg-light);
  overflow: hidden;
}

  .section-2 .text {
    padding: 0.5rem;
  }

    .section-2 p {
      padding: 0.5rem 2rem;
      font-size: 1.5rem;
      line-height: 1.5;
    }

    .section-2 .fb{
      overflow: hidden;
    }

    .section-2 .fb iframe {
      overflow: hidden;
      object-fit: cover;
      display: block;

    }

