/* HEADER */

.shed-header {
    background-image: url(../images/headers/custom-sheds-banner.PNG)
}

.gradient {
        background-image: linear-gradient(to right, #21252974 , #21252943 , #21252900 , #21252900 ,#21252900);
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* INFO SECTION 1 */


.info-section-1 {
    width: 100%;
    margin: 0rem;
    padding: .5rem 0rem;
    background-color: #415a77;
    border-top:.18rem solid #cbd2dc;
    border-bottom:.18rem solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
}
.info-section-1 .section-title {
    margin: .5rem 0 .5rem 1rem;
    border:.18rem solid #cbd2dc;
}
.info-section-1 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .info-section-1 img {
        width:45%;
        padding: .3rem;
        padding-left: 0rem;
        object-fit: cover;
        overflow: hidden;
        object-position: right;
    }

    .info-section-1 .text {
        width:55%;
        height:100%;
        padding: .5rem;
        font-size: 1.2rem;
    }
    
    .info-section-1 p {
        padding: .5rem 1rem;
        margin: 0rem;
    }

    .info-section-1 a{
        width: 50%;
        height:10%;
        display: block;
        color: #f5f5f5;
        background-color: #212529;
        border: #495057 .05rem solid;
        text-align: center;
        border-radius: .3rem;
        text-shadow: #212529 .04rem .04rem .05rem;
        padding: .7rem;
        margin: .5rem 1rem;
    }

        .info-section-1 a:hover{
            color:#e2e3e5;
            background-color: #495057;
            border: #f5f5f5 .05rem solid;
            transition: .2s;
        }

/* CUSTOM SHED FEATURES */
.secondary {

}
    .secondary tr{
            
        }
        .secondary td {
                width:33%;
                padding: .5rem 1rem; 
        }
.features .heading{
    display: flex;
    color: #f5f5f5;
    text-shadow: #212529 .08rem .08rem 0rem;
    background-color: #415A77;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
    .features .title{
        width:36%;
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;
        text-align: left;
        padding: 1rem 1rem 1rem 1.5rem;
    }
        .features .heading .text{
            width:64%;
            font-size: 1.2rem;
            font-weight: 400;
            font-style: italic;
            text-align: left;
            padding: 1rem 0rem;
        
        }  
        table.included-features {
            margin-top: 1rem;
        }
            table.included-features thead{
                color: #f5f5f5;
                text-shadow: #212529 .08rem .08rem 0rem;
                background-color: #415A77;
                font-style: italic;
                text-align: left;
            }
            table.included-features th{
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                padding: 0rem;
                font-size: 1.8rem;
                font-weight: 400;
            }


/* INFO SECTION 2 */

.info-section-2 {
    width: 100%;
    margin: 0rem;
    padding: .5rem 0rem;
    background-color: #415a77;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
}
.info-section-2 .section-title {
    margin: .5rem 0 .5rem 1rem;
    border:.18rem solid #cbd2dc;
}
.info-section-2 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .info-section-2 img {
        width:45%;
        padding: .3rem;
        padding-left: 0rem;
        object-fit: cover;
        overflow: hidden;
        object-position: right;
    }

    .info-section-2 .text {
        width:55%;
        height:100%;
        padding: .5rem;
        font-size: 1.2rem;
    }
    
    .info-section-2 p {
        padding: .5rem 1rem;
        margin: 0rem;
    }

    .info-section-2 a{
        width: 50%;
        height:10%;
        display: block;
        color: #f5f5f5;
        background-color: #212529;
        border: #495057 .05rem solid;
        text-align: center;
        border-radius: .3rem;
        text-shadow: #212529 .04rem .04rem .05rem;
        padding: .7rem;
        margin: .5rem 1rem;
    }

        .info-section-2 a:hover{
            color:#e2e3e5;
            background-color: #495057;
            border: #f5f5f5 .05rem solid;
            transition: .2s;
        }

/* PRICING */

.pricing {
        margin: 0rem;
}



/* INFO SECTION 3 */

.info-section-3 {
    width: 100%;
    margin: 0rem 0rem 1.5rem 0rem;
    padding: 0rem;
    background-color: #415a77;
    border-bottom:.18rem solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
}
.info-section-3 .sub-heading {
    width: 60%;
}
.info-section-3 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
    .info-section-3 .text.one {
        width:75%;
        height:100%;
        padding: 1rem .5rem;
        font-size: 1.2rem;
    }

        .info-section-3 .text.one p{
            padding: .5rem 3rem .5rem 1rem;
        }

    .info-section-3 .text.two {
        width:25%;
        padding: 0rem .5rem;
        object-fit: cover;
        overflow: hidden;
        display: flex;
        flex-direction: column;

    }

        .info-section-3 .text.two p{
        text-align: center;
        font-size: 1.05rem;
        padding: .5rem 0rem;
        line-height: 1.45;
        }


    
    .info-section-3 p {
        padding: .5rem;
        margin: 0rem;
    }

    .info-section-3 a{
        width: 50%;
        height:10%;
        display: block;
        color: #f5f5f5;
        background-color: #212529;
        border: #495057 .05rem solid;
        text-align: center;
        border-radius: .3rem;
        text-shadow: #212529 .04rem .04rem .05rem;
        padding: .7rem;
        margin: .5rem 1rem;
    }

        .info-section-3 a:hover{
            color:#e2e3e5;
            background-color: #495057;
            border: #f5f5f5 .05rem solid;
            transition: .2s;
        }

