/* HEADER */

.large-header {
  background-image: url(../images/headers/webP/home-page.webp);
  background-position: top;
  height: 60vh;
  margin-bottom: 0rem;
}

.gradient {
  background-image: linear-gradient(to right, #212529c2, #212529c2, #21252958, #21252940, #2125291a);
  height: 100%;
  width: 100%;
  justify-content: center;
}

.large-header h1 {
  margin: 0rem;
  font-size: 4rem;
  align-content: center;
  padding: 1rem 1rem 1rem 1.5rem;
}

.large-header h2 {
  margin: 0rem;
  font-size: 2.7rem;
  align-content: center;
  padding: 2rem .5rem .5rem 1.5rem;
}

.large-header h3 {
  margin: 0rem;
  font-size: 2.3rem;
  align-content: center;
  padding: .5rem .5rem .5rem 1.5rem;
}

@media only screen and (max-width: 598px) {
  .large-header h1 {
    font-size: 3.5rem;
  }

  .large-header h2 {
    font-size: 2rem;
  }

  .large-header h3 {
    font-size: 1.5rem;
  }

  .gradient {
    background-image: linear-gradient(to right, #212529d4, #212529bc, #21252965, #21252900);
  }
}

@media only screen and (max-width: 444px) {
  .large-header h1 {
    font-size: 2.8rem;
  }

  .large-header h2 {
    font-size: 2rem;
  }

  .large-header h3 {
    font-size: 2rem;
    padding: .5rem 6.5rem .5rem 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .gradient {
    background-image: linear-gradient(to right, #212529d4, #212529c2, #21252972, #21252952);
  }
}

/* INDEX SECTION 1 Card Row*/

.index-section-1 {
  width: 100%;
  margin: 0rem;
  padding: 2rem 1rem;
}

.index-section-1 .card {
  padding: 0rem;
  border: none;
  height: auto;
  margin: 0rem 1rem;
  border-radius: .5rem;
  background-color: var(--bg-light);
  height: 100%;
}

.index-section-1 .card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.index-section-1 .card-body {
  height: 100%;
  padding: 0.75rem .5rem .5rem .5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.index-section-1 .card-body .card-title {
  height: 3rem;
  margin: 0rem;
  align-content: center;
}

.index-section-1 .card-body .card-text {
  height: max-content;
  padding-bottom: .5rem;
}

.index-section-1 .card-body .btn-grey {
  height: 3rem;
  align-content: center;
  border-radius: .4rem;
}

@media only screen and (min-width: 1087px) {
  .index-section-1 .card-body .card-text {
    height: 7.25rem;
  }
}

@media only screen and (min-width: 1180px) {
  .index-section-1 .card-body .card-text {
    height: 6rem;
  }
}

@media only screen and (min-width: 1400px) {
  .index-section-1 .card-body .card-text {
    height: 7.25rem;
  }
}

@media only screen and (min-width: 2193px) {
  .index-section-1 .card-body .card-text {
    height: 4rem;
  }
}

/* SCHEDULE NOW BANNER */

.banner {
  background-color: var(--bg-dark-blue);
}

.banner .section {
  text-align: center;
}

.banner .contact {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0rem 1.5rem 1rem;
}

.banner .contact .option{
  display: flex;
  flex-direction: column;
}

.banner .contact .option a{
  width: 90%;
}


.banner h4 {
  margin: 0;
  padding: 0rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.banner h6 {
  margin: 0rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1400px) {
  .banner .contact a {
    width:27rem;
  }
}

/* INDEX SECTION 2 */

.index-section-2 {
  display: flex;
  /* background-color: #f5f5f5a9; */
}

.index-section-2 .image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 60% ;
  background-image: url(../images/index/webp/metal-roof-tallersm.webp);
}

@media only screen and (min-width: 992px) and (max-width: 1500px) {
  .index-section-2 .image{
     background-image: linear-gradient(to bottom, #212529b9, #21252963, #21252900, #21252900, #21252900, #21252900, #21252900, #21252900, #21252900, #21252963, #212529b9), url(../images/index/webp/metal-roof-tallersm.webp);
  }
}

.index-section-2 .text {
  padding: 2rem 1rem;
  color: var(--text-light);
}

.index-section-2 h5 {
  padding: 0.2rem 0rem;
  margin: 0rem;
  font-style: italic;
  font-size: 1.3rem;
  align-content: center;
}

.index-section-2 .option {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0.5rem 0rem 0rem;
}

.index-section-2 .option a p {
  width: 80%;
}

.index-section-2 .option .arrow {
  font-size: 2.1rem;
  margin: 0;
  padding: 0;
  width: 20%;
}

/* INDEX SECTION 3 */

.index-section-3 {
  width: 100%;
  background-image: url(../images/index/webp/barnard-vt-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #2125299f;
  padding: 2rem 1rem;
}

.index-section-3 .reviews {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.index-section-3 .review {
  position: relative;
  display: flex;
  height: 97%;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0rem;
  background-color: var(--dusty-blue);
  /* border: var(--bg-light) 0.2rem solid; */
  box-shadow: 3px 3px 3px var(--bg-grey-blue);
  border-radius: .5rem;
}

.index-section-3 .review .text {
  height: 93%;
  padding: 0rem;
}

.index-section-3 .review p {
  padding: 0.15rem 1rem;
  margin: 0;
}

.index-section-3 .review p .bold {
  font-style: italic;
}

.index-section-3 .review h5 {
  height: 7%;
  padding: 0.7rem 0.7rem 0.5rem 0.7rem;
  margin: 0;
}

.index-section-3 .review h5 span {
  display: inline;
  font-size: 1rem;
}

.index-section-3 a {
  font-size: 1.5rem;
  padding: .75rem 1rem;
}

@media only screen and (max-width: 1105px) {
  .index-section-3 {
    background-attachment: unset;
    background-position: 35% 50%;
  }
}

/* QUOTATION MARKS SVG */

.review svg {
  background-color: var(--bg-dark-blue);
  margin: 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  border: var(--text-light) 0.15rem solid;
}

svg.open-quote {
  position: absolute;
  top: -2rem;
  left: -2rem;
}

svg.close-quote {
  transform: scaleX(-1);
  position: absolute;
  top: 92%;
  right: -2rem;
}

/* INDEX SECTION 4 */

.index-section-4 {
  flex-wrap: wrap;
  margin: 0rem 0rem 1rem 0rem;
  padding: 2rem 1rem;

}

.index-section-4 .slide-1 {
  display: block;
  background-color: var(--bg-grey);
  color: var(--bg-dark);
  padding: 0.5rem;
  height: 600px;
  margin: 0 0.75rem;
}

.index-section-4 a {
  color: var(--bg-dark);
  height: 100%;
  display: block;
}

.index-section-4 .slide-2 {
  background-color: var(--bg-grey);
  color: var(--bg-dark);
  padding: 0.5rem;
  height: 600px;
  margin: 0 0.75rem;
  display: block;
}


.index-section-4 .text {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-light);
}

.index-section-4 .slide-1 h4,.slide-2 h4 {
  margin: 0rem;
  padding: 0rem 0.5rem;
  align-content: center;
}

.index-section-4 .slide-1 p,.slide-2 p {
  margin: 0rem;
  padding: 0rem 0.5rem;
  align-content: flex-end;
}

.index-section-4 .slide-1 img,.slide-2 img {
  height: calc(100% - 150px);
  width: 100%;
  padding: 0rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  justify-content: flex-end;
}

/* .index-section-4 .slide-3 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  background-color: #e2e3e5;
  color: var(--bg-dark);
  height: auto;
  width: min-content;
  min-width: 100%;
  margin: 0 0.75rem;
  object-fit: contain;
} */

.index-section-4 .slide-3 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  background-color: #CBD2D9;
  color: var(--bg-dark);
  height: 600px;
  width: 370px;
  object-fit: contain;
  max-width: 100%;
}

.index-section-4 .slide-3 img {
  height: calc(100% - 150px);
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.index-section-4 .slide-3 p {
  height: 150px;
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: var(--bg-light);
  align-content: center;
}

@media only screen and (max-width: 494px) {
  .index-section-4 .slide-1 h4,.slide-2 h4 {
    font-size: 1.5rem;
  }

  .index-section-4 .slide-1 p,.slide-2 p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 494px) and (max-width: 768px) {
  .index-section-4 .slide-1 h4,.slide-2 h4 {
    font-size: 2rem;
  }

  .index-section-4 .slide-1 p,.slide-2 p {
    font-size: 1.5rem;
  }

  .index-section-4 .slide-3 p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 992px) {
  .index-section-4 .slide-3 {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 100%;
  }
}
