:root {
  --bg-dark: #212529;
  --bg-light: #f5f5f5;
  --bg-dark-blue: #1b263b;
  --dusty-blue: #415a77;
  --blue-grey: #495057;
  --shadow-navy: #15253f;
}

/* HEADER */

.index-header {
  background-image: url(../images/headers/home-page.jpg);
  width: 100%;
  height: 65vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
  color: var(--bg-light);
  margin: 0rem 0rem 2rem 0rem;
}

.gradient {
  background-image: linear-gradient(to right, #212529cb, #21252996, #21252900, #21252900);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-header h1 {
  margin: 0.4rem 0 0.8rem 1rem;
  font-size: 4rem;
}

.index-header h2 {
  margin: 0.8rem 0 0.4rem 1rem;
  font-size: 2.3rem;
}

.index-header h3 {
  margin: 1rem 0 1.6rem 1rem;
  font-size: 2.3rem;
}

/* INDEX SECTION 1 */

.index-section-1 {
  width: 100%;
  margin: 0rem;
  padding: 0rem 1rem;
}

/* SECTION 1 CARD ROW */

.index-section-1 {
  margin: 0rem 0rem 1rem 0rem;
}

.index-section-1 .card {
  padding: 0rem;
  border: none;
  height: auto;
  margin: 0rem 1rem;
}

.index-section-1 .card-title {
  margin: 0rem;
}

.index-section-1 .card-img-top {
  height: auto;
  object-fit: cover;
}

.index-section-1 .card-body {
  height: 12rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

  .index-section-1 .card-body .card-title {
    height: 3rem;
  }

  .index-section-1 .card-body .card-text {
    height: 8rem;
  }

  .index-section-1 .card-body .btn-grey {
    height: 3rem;
    align-content: center;
    border-radius: .4rem;
  }

/* SCHEDULE NOW BANNER */

.banner {
  background-color: #3066be;
}

.banner .section {
  text-align: center;
}

.banner .contact {
  background-color: var(--bg-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0rem 0rem 1rem 0rem;
}

.banner h4 {
  margin: 0;
  padding: 0rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.banner h6 {
  margin: 0rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
}

.banner .contact a {
  padding: 0.5rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
}

/* INDEX SECTION 2 */

.index-section-2 {
  display: flex;
  background-color: #f5f5f5a9;
}

.index-section-2 img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.index-section-2 .text {
  padding: 2rem 1rem;
  color: var(--bg-dark);
}

.index-section-2 h5 {
  padding: 0.2rem 0rem;
  margin: 0rem;
  font-style: italic;
  font-size: 1.3rem;
  align-content: center;
}

.index-section-2 .option {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0.5rem 0rem 0rem;
}

.index-section-2 .option a {
  padding: 0.3rem 0rem;
  background-color: var(--bg-dark);
  text-align: center;
  border: var(--blue-grey) 0.05rem solid;
  align-self: center;
  color: var(--bg-light);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 0.7rem;
}

.index-section-2 .option a:hover {
  color: #e2e3e5;
  background-color: var(--blue-grey);
  border: var(--bg-light) 0.05rem solid;
  transition: 0.2s;
}

.index-section-2 .option a p {
  width: 80%;
}

.index-section-2 .option .arrow {
  font-size: 2.1rem;
  margin: 0;
  padding: 0;
  width: 20%;
}

/* INDEX SECTION 3 */

.index-section-3 {
  width: 100%;
  background-image: url(../images/index/barnard-vt-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #2125299f;
  padding: 2rem 1rem;
}

.index-section-3 .reviews {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.index-section-3 .review {
  position: relative;
  display: flex;
  height: 97%;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0rem;
  background-color: var(--dusty-blue);
  border: var(--bg-light) 0.2rem solid;
  border-radius: 1rem;
}

.index-section-3 .review .text {
  height: 93%;
  padding: 0rem;
}

.index-section-3 .review p {
  padding: 0.15rem 1rem;
  margin: 0;
}

.index-section-3 .review p .bold {
  font-style: italic;
}

.index-section-3 .review h5 {
  height: 7%;
  padding: 0.7rem 0.7rem 0.5rem 0.7rem;
  margin: 0;
}

.index-section-3 .review h5 span {
  display: inline;
  font-size: 1rem;
}

.index-section-3 a {
  width: 100%;
  padding: 0.6rem 1rem;
  color: var(--bg-light);
  margin: 1rem auto;
  background-color: var(--bg-dark);
  border: var(--blue-grey) 0.05rem solid;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.3rem;
  align-items: center;
  display: block;
}

.index-section-3 a:hover {
  color: #e2e3e5;
  background-color: var(--blue-grey);
  border: var(--bg-light) 0.05rem solid;
  transition: 0.2s;
}

/* QUOTATION MARKS SVG */

.review svg {
  background-color: var(--bg-dark-blue);
  margin: 0.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  border: var(--bg-light) 0.15rem solid;
}

svg.open-quote {
  position: absolute;
  top: -2rem;
  left: -2rem;
}

svg.close-quote {
  transform: scaleX(-1);
  position: absolute;
  top: 92%;
  right: -2rem;
}

/* INDEX SECTION 4 */

.index-section-4 {
  flex-wrap: wrap;
  margin: 0rem 0rem 1rem 0rem;
  padding: 2rem 1rem;
}

.index-section-4 .slide-1 {
  display: block;
  background-color: #e2e3e5;
  color: var(--bg-dark);
  padding: 0.5rem 1rem;
  height: 100%;
  margin: 0 0.75rem;
}

.index-section-4 a {
  color: var(--bg-dark);
  height: 100%;
  display: block;
}

.index-section-4 .slide-2 {
  background-color: #e2e3e5;
  color: var(--bg-dark);
  padding: 0.5rem 1rem;
  height: 100%;
  margin: 0 0.75rem;
  display: block;
}

.index-section-4 .slide-3 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  background-color: #e2e3e5;
  color: var(--bg-dark);
  height: 100%;
  margin: 0 0.75rem;
}

.index-section-4 .text {
  display: flex;
  height: 35%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-light);
}

.index-section-4 .slide-1 h4,.slide-2 h4 {
  margin: 0rem;
  padding: 0rem 0.5rem;
  align-content: center;
}

.index-section-4 .slide-1 p,.slide-2 p {
  margin: 0rem;
  padding: 0rem 0.5rem;
  align-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .index-section-4 .slide-1 h4,.slide-2 h4 {
    font-size: 2rem;
  }

  .index-section-4 .slide-1 p,.slide-2 p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 494px) {
  .index-section-4 .slide-1 h4,.slide-2 h4 {
    font-size: 1.5rem;
  }

  .index-section-4 .slide-1 p,.slide-2 p {
    font-size: 1.2rem;
  }
}

.index-section-4 .slide-1 img,.slide-2 img {
  height: 65%;
  width: 100%;
  padding: 0rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  justify-content: flex-end;
}

.index-section-4 .slide-3 img {
  width: 95%;
  padding: 0.1rem;
  object-fit: cover;
  overflow: hidden;
}

.index-section-4 .slide-3 p {
  width: 95%;
  padding: 0.1rem;
  font-size: 1rem;
}