/* NAVIGATION */

/* TODO: The format for a lot of these nav items are practically identical so
        I would assume this section can be simplified */
nav {
  width: 100%;
  display: flex;
  background-color: #212529;
  padding: 0rem;
  margin: 0rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-button {
  width: 8.2%;
  text-align: center;
  align-content: center;
  align-items: center;
  color: #adb5bd;
  letter-spacing: 0.05rem;
  font-weight: 600;
  padding: 0.4rem;
}

.nav-button.wide {
  width: 9.5%;
  padding: 0rem;
}
/* TODO: Usually you should use shared classes for duplicate behaviors */
.nav-button-wide:hover {
  color: #c6c8c9;
}
.nav-button:hover {
  color: #c6c8c9;
}
/* TODO: Why is there a nav-button-wide-active and nav-button + active classes?
    After using VsCode's find, it looks like these fields are not longer used.
    Using consistent naming schemes tends to help with this but it is also important
    to just do code clean-up to find unused or overly-complex code that can be remove
    or changed with hindsight. */
.nav-button-wide-active {
  width: 9.5%;
  text-align: center;
  align-content: center;
  color: #f8f9fa;
  letter-spacing: 0.05rem;
  font-weight: 600;
  padding: 0rem;
}
.nav-button.active {
  color: #f8f9fa;
}
/* Dropdown Button */
.dropbtn {
  color: #adb5bd;
  cursor: pointer;
  padding: 0.4rem;
  width: 100%;
  height: 100%;
  align-content: center;
}
/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  color: #c6c8c9;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 8.2%;
  text-align: center;
  align-content: center;
  color: #adb5bd;
  letter-spacing: 0.05rem;
  font-weight: 600;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212529;
  min-width: 10rem;
  letter-spacing: 0.05rem;
  color: #c6c8c9;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #e2e3e5;
  font-size: 1rem;
  background-color: #495057;
  border: #f5f5f5 0.05rem solid;
  transition: 0.3s;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #adb5bd;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  border: #495057 0.05rem solid;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* COLLAPSIBLE NAV BAR RESPONSIVE */

@media only screen and (max-width: 1105px) {
  html {
    scroll-padding-top: 0px;
  }
  nav {
    flex-direction: column;
    width: auto;
    height: 95vh;
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
  }
  #navBackdrop {
    height: 100%;
    width: 100%;
    display: none;
    background-color: #21252992;
    position: fixed;
    top: 0rem;
    z-index: 99;
  }
  button#menuClose {
    width: 100%;
    height: 7.3vh;
    display: flex;
    border: 0.01rem #adb5bd solid;
    color: #f5f5f5;
    padding: 0.5rem 1.5rem;
    background-color: #212529;
    align-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  nav button svg {
    margin: 0.5rem;
  }
  a.nav-button {
    width: 100%;
    height: 7.3vh;
    display: flex;
    justify-content: center;
    border: 0.01rem #adb5bd solid;
    padding: 0.8rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }
  a.nav-button.wide {
    width: 100%;
  }
  .dropdown {
    width: 100%;
    height: 7.3vh;
    display: flex;
    align-content: center;
    border: 0.01rem #adb5bd solid;

    font-size: 1.5rem;
  }
  .dropbtn {
    padding: 0rem;
    align-content: center;
  }
  .dropdown-content {
    position: absolute;
    left: 17.9rem;
    top: 0rem;
  }
  .dropdown-content a {
    border: 0.01rem #adb5bd solid;
    padding: 0.8rem 0.5rem;
    width: 15rem;
    height: 7.3vh;
  }
  button#menuOpen {
    width: auto;
    position: fixed;
    top: 0rem;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: #212529c3;
    text-align: center;
    align-content: center;
    align-items: center;
    color: #f5f5f5;
    letter-spacing: 0.05rem;
    font-weight: 600;
    z-index: 100;
  }
}

@media only screen and (max-width: 527px) {
  .dropdown-content {
    left: 2.9rem;
    top: 4rem;
  }
  .dropdown-content a {
    color: #f5f5f5;
    background-color: #495057;
    border: #f5f5f5 0.05rem solid;
  }
}

@media only screen and (min-width: 1105px) {
  #navBackdrop {
    display: none;
  }
  #menuOpen {
    display: none;
  }
  #menuClose {
    display: none;
  }
}
