:root {
  --bg-dark: #212529;
  --bg-light: #f5f5f5;
}

/* NAVIGATION */

.nav-button,.dropbtn,.dropdown,.dropdown-content a{
  color: #adb5bd;
}

nav {
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
  padding: 0rem;
  margin: 0rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-button {
  width: 8.2%;
  text-align: center;
  align-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  font-weight: 600;
  padding: 0.4rem;
}

.nav-button.wide {
  width: 9.5%;
  padding: 0rem;
}

.nav-button:hover {
  color: #c6c8c9;
}

.nav-button.active {
  color: #f8f9fa;
}

/* Dropdown Button */

.dropbtn {
  cursor: pointer;
  padding: 0.4rem;
  width: 100%;
  height: 100%;
  align-content: center;
}

.dropbtn:hover,.dropbtn:focus {
  color: #c6c8c9;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 8.2%;
  text-align: center;
  align-content: center;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-dark);
  min-width: 10rem;
  letter-spacing: 0.05rem;
  color: #c6c8c9;
}

.dropdown-content a:hover {
  color: #e2e3e5;
  font-size: 1rem;
  background-color: #495057;
  border: var(--bg-light) 0.05rem solid;
  transition: 0.3s;
}

.dropdown-content a {
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  border: #495057 0.05rem solid;
}

.show {
  display: block;
}

/* COLLAPSIBLE NAV BAR RESPONSIVE */

@media only screen and (max-width: 1105px) {
  html {
    scroll-padding-top: 0px;
  }

  button#menuClose,a.nav-button,.dropdown,.dropdown-content a{
    border: 0.01rem #adb5bd solid;
  }

  nav {
    flex-direction: column;
    width: auto;
    height: 95vh;
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
  }

  #navBackdrop {
    height: 100%;
    width: 100%;
    display: none;
    background-color: #21252992;
    position: fixed;
    top: 0rem;
    z-index: 99;
  }

  button#menuClose {
    width: 100%;
    height: 7.3vh;
    display: flex;
    color: var(--bg-light);
    padding: 0.5rem 1.5rem;
    background-color: var(--bg-dark);
    align-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  button#menuOpen {
    width: auto;
    position: fixed;
    top: 0rem;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: #212529c3;
    text-align: center;
    align-content: center;
    align-items: center;
    color: var(--bg-light);
    letter-spacing: 0.05rem;
    font-weight: 600;
    z-index: 100;
  }

  nav button svg {
    margin: 0.5rem;
  }

  a.nav-button {
    width: 100%;
    height: 7.3vh;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  a.nav-button.wide {
    width: 100%;
  }

  .dropdown {
    width: 100%;
    height: 7.3vh;
    display: flex;
    align-content: center;
    font-size: 1.5rem;
  }
  .dropbtn {
    padding: 0rem;
    align-content: center;
  }

  .dropdown-content {
    position: absolute;
    left: 17.9rem;
    top: 0rem;
  }

  .dropdown-content a {
    padding: 0.8rem 0.5rem;
    width: 15rem;
    height: 7.3vh;
  }

}

@media only screen and (max-width: 527px) {
  .dropdown-content {
    left: 2.9rem;
    top: 4rem;
  }

  .dropdown-content a {
    color: var(--bg-light);
    background-color: #495057;
    border: var(--bg-light) 0.05rem solid;
  }

}

/* Mobile navigation backdrop and open/close buttons */

@media only screen and (min-width: 1105px) {
  #navBackdrop {
    display: none;
  }

  #menuOpen {
    display: none;
  }

  #menuClose {
    display: none;
  }

}