nav .collapse.show, nav .collapse, nav .collapsing{
  position: fixed;
  top:58px;
  background-color: var(--bg-dark);
}

nav .btn {
  width: 14%;
  text-align: center;
  align-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  font-weight: 500;
  padding: .5rem 0.4rem;
  z-index: 100;
  border:none;
  color: var(--btn-text);
  font-size: 1.1rem;
  background-color: var(--bg-dark);
  border-radius: 0;
}

nav .btn:hover{
  color: var(--btn-text-hover);
  background-color: var(--btn-hover);
  transition: background-color .2s;
}

nav .btn.active{
  color: var(--btn-text-active);
  background-color: var(--bg-dark);
  text-decoration: underline 1px #ffffff7b;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #ffffff7b;
  -webkit-text-decoration-color: #ffffff7b;
  text-underline-offset: 4px;
}

#collapseShop, #collapseGallery{
  width:14%;
}

nav .card.card-body{
  background-color: var(--bg-dark);
  padding: 0;
}

#collapseShop a, #collapseGallery a{
  padding: 0.75rem .5rem;
  text-align: center;
  text-decoration: none;
  display: block;
  border: var(--blue-grey) 0.05rem solid;
  color: #c6c8c9;
}

#collapseShop a:hover, #collapseGallery a:hover{
  color: var(--btn-text-hover);
  background-color: var(--btn-hover);
  border: var(--blue-grey) 0.05rem solid;
  transition: 0.2s;
}

#collapseShop a.active, #collapseGallery a.active{
  color: var(--btn-text-active);
  background-color: var(--bg-dark);
  text-decoration: underline 1px #ffffff7b;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #ffffff7b;
  -webkit-text-decoration-color: #ffffff7b;
  text-underline-offset: 4px;
}

#collapseShop.collapse.show, #collapseShop.collapsing{
  left:14.3%;
}

#collapseGallery.collapse.show, #collapseGallery.collapsing{
  left:42.7%;
}

/* NAVIGATION */

#navBackdrop{
  display: none;
}

.nav-button,.dropbtn,.dropdown,.dropdown-content a{
  color: var(--btn-text);
}

nav {
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
  padding: 0rem;
  margin: 0rem;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 1.1rem;
}

.nav-button {
  width: 14.3%;
  text-align: center;
  align-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  font-weight: 500;
  padding: .7rem 0.4rem;
  z-index: 100;
}


.nav-button:hover {
  color: var(--btn-text-hover);
  background-color: var(--btn-hover);
  transition: all .2s;
}

.nav-button.active {
  color: var(--btn-text-active);
  background-color: var(--bg-dark);
  text-decoration: underline 1px #ffffff7b;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #ffffff7b;
  -webkit-text-decoration-color: #ffffff7b;
  text-underline-offset: 4px;
}

@media only screen and (min-width: 1105px) and (max-width: 1486px) {
  #collapseShop{
    width:19%;
  }

  #collapseGallery{
    width:18%;
  }
}

@media only screen and (max-width: 1225px) {
  #collapseShop.collapse.show, #collapseShop.collapsing, #collapseGallery.collapse.show, #collapseGallery.collapsing{
    top:74px;
  }
}

@media only screen and (min-width: 1226px) {
    #collapseShop.collapse.show, #collapseShop.collapsing, #collapseGallery.collapse.show, #collapseGallery.collapsing{
    top:48px;
  }
}

/* COLLAPSIBLE NAV BAR RESPONSIVE */

/* Mobile navigation backdrop and open/close buttons */

@media only screen and (min-width: 1105px) and (max-width: 10000px) {
  #navBackdrop {
    display: none;
    padding:0rem;
    margin:0rem;
  }

  #menuOpen {
    display: none;
  }

  #menuClose {
    display: none;
  }

 button#navBackdrop{
  display: none;
 }
}

@media only screen and (max-width: 1105px) {
  html {

  }

  button#menuClose,a.nav-button, nav .btn{
    border: 0.01rem var(--blue-grey) solid;
  }

  #navBar{
    background-color: #21252900;
    height:100%;
    overflow: scroll;
    width: 18rem;
  }

  nav {
    display: none;
    position: fixed;
    top: 0;
    flex-direction: column;
    width:68%;
    height: 100%;
    overflow: auto;
  }

  #navBackdrop{
    min-height: 200lvh;
    min-width: 200lvw;
    display: none;
    background-color: #21252992;
    position: fixed;
    top: 0rem;
    z-index: 99;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    overflow: visible;
  }

nav .btn {
  width: 100%;
  height: 7.3vh;
  display: flex;
  justify-content: center;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--bg-dark);
}

  nav .btn.active{
    color: var(--btn-text-active);
    background-color: var(--bg-dark);
    text-decoration: underline 1px #ffffff7b;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-color: #ffffff7b;
    -webkit-text-decoration-color: #ffffff7b;
    text-underline-offset: 4px;
  }


.collapse.show, .collapse, .collapsing{
  position: relative;
  left: 0;
}

#collapseShop.collapse.show, #collapseShop.collapsing, #collapseGallery.collapse.show, #collapseGallery.collapsing{
  left:0;
  top: 0;
  background-color: var(--bg-dark);
  position: relative;
}

#collapseShop a, #collapseGallery a{
  background-color: var(--btn-hover);
  color: #e2e3e5;
  font-size: 1.2rem;
  font-style: italic;
}

#collapseShop a.active{
  color: var(--btn-text-active);
  background-color: var(--bg-dark);
  text-decoration: underline 1px #ffffff7b;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #ffffff7b;
  -webkit-text-decoration-color: #ffffff7b;
  text-underline-offset: 4px;
}

#collapseShop, #collapseGallery{
  width:100%;
}

  button#menuClose {
    width: 100%;
    height: 7.3vh;
    display: flex;
    color: var(--bg-light);
    padding: 0.5rem 1.5rem;
    background-color: var(--bg-dark);
    align-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 1.3rem;
  }

  button#menuOpen {
    width: auto;
    position: fixed;
    top: 0.5rem;
    left: .25rem;
    margin: 0rem;
    padding: 0.5rem 1rem;
    background-color: #212529c3;
    text-align: center;
    align-content: center;
    align-items: center;
    color: var(--bg-light);
    letter-spacing: 0.05rem;
    font-weight: 600;
    z-index: 100;
  }

  nav button svg {
    margin: 0.5rem;
  }

  a.nav-button {
    width: 100%;
    height: 7.3vh;
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: var(--bg-dark);
  }

    a.nav-button.active{
      color: var(--btn-text-active);
      background-color: var(--bg-dark);
      text-decoration: underline 1px #ffffff7b;
      text-decoration-line: underline;
      -webkit-text-decoration-line: underline;
      text-decoration-color: #ffffff7b;
      -webkit-text-decoration-color: #ffffff7b;
      text-underline-offset: 4px;
    }

  @media only screen and (min-width: 500px) and (max-width: 1105px){
    a.nav-button {
      justify-content: left;
      padding: 1.5rem 3rem 1.5rem 1.5rem;
    }

    nav .btn {
      text-align: left;
      justify-content: left;
      padding: 1.5rem 3rem 1.5rem 1.5rem;
    }
  }

}
