:root {
  --bg-dark: #212529;
  --bg-light: #f5f5f5;
  --bg-grey: #cbd2dc;
  --dusty-blue: #415a77;
}

/* SHED PRICING TABLE/SECTION */

.pricing {
  margin: 0rem;
  padding: 1.5rem 1rem;
  background-image: url(../images/background-images/wood-2-background.jpg);
  background-size: 100%;
  background-blend-mode: darken;
  background-color: #2125297e;
}

.pricing .respon-table {
  width: 95%;
  color: var(--bg-dark);
  background-color: #dee2e6;
  margin: 0rem auto;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.pricing .thead {
  background-color: var(--bg-light);
}

.pricing .t-heading {
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--bg-light);
  padding: 1rem 0.5rem;
  width: 50%;
}

.pricing .respon-row {
  display: flex;
  flex-direction: row;
}

.pricing .cell {
  padding: 1rem;
  width: 50%;
  align-content: center;
}

.pricing .tbody .respon-row:nth-child(2n) {
  background-color: var(--bg-light);
}

.pricing .tbody .respon-row:hover {
  background-color: var(--dusty-blue);
  color: var(--bg-light);
}

/* MEDIA CHANGE SCREEN SIZE RESPONSIVE */

@media only screen and (max-width: 768px) {
  .pricing {
    padding: 1.5rem 0.5rem;
  }

  .pricing .respon-table {
    width: 100%;
    font-size: 1.5rem;
  }

  .pricing .cell svg {
    display: none;
  }
}

/* SHED FEATURES TABLE/SECTION */

.features {
  margin: 0rem;
  padding: 1.5rem 1rem;
  background-image: url(../images/background-images/wood-background.jpg);
  background-size: 100%;
  background-blend-mode: darken;
  background-color: #2125299c;
}

.features .section-title {
  margin: 0 0 1.5rem 0rem;
}

.features .respon-table {
  width: 95%;
  background-color: var(--bg-grey);
  text-align: center;
  margin: 0rem auto;
  color: var(--bg-dark);
  font-size: 1.2rem;
  border-radius: 1rem;
  text-shadow: var(--bg-light) 0.05rem 0.05rem 0rem;
}

.features .respon-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
}

.features .cell {
  border: var(--bg-dark) 0.01rem solid;
  text-align: left;
  padding: 1rem 1rem;
  width: 50%;
}

.features ul {
  margin: 0rem 0rem 0 1.2rem;
  padding: 0rem;
  height: 100%;
}

.features li {
  padding-left: 0.5rem;
  align-content: center;
  height: 90%;
}

/* FEATURES TABLE RESPONSIVE! */

@media only screen and (max-width: 768px) {
  .features {
    padding: 1.5rem 0.5rem;
  }

  .features .respon-table {
    width: 100%;
    background-color: var(--bg-grey);
    text-align: center;
    margin: 0rem;
    color: var(--bg-dark);
    border-radius: 1rem;
    text-shadow: var(--bg-light) 0.05rem 0.05rem 0rem;
  }

  .features .respon-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }

  .features .cell {
    padding: 1rem 1.5rem;
    width: 100%;
  }

  .features ul {
    margin: 0rem 0rem 0 1.2rem;
    padding: 0rem;
  }

  .features li {
    padding-left: 0.5rem;
  }
}