
/* HEADER */

.large-header {
    background-image: url(../images/headers/building-process-header.jpg);
    background-position: top;
}

.gradient {
        background-image: linear-gradient(to right, #212529ab , #2125295f ,#21252900 , #21252900);
        height: 100%;
        width:100%;
    }


/* JUMP TO SECTION */


/* BUILDING PROCESS SECTION 1 */
.section-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem 0rem 1rem 0rem;
    padding: .2rem 0rem;
}
    .section-1 img {
        width:40%;
        padding: .5rem;
        padding-right: 0rem;
        object-fit: cover;
        overflow: hidden;
        object-position: left;
    }
    .section-1 .text {
        width:60%;
        padding: .5rem .5rem .5rem 1rem;
    }
    .section-1 p {
        padding: 0rem 1rem .7rem 1rem;
        margin: 0rem;
        text-shadow: #212529 .08rem .08rem 0rem;
    }


/* BUILDING PROCESS BANNER */
.banner {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0rem;
    background-color: #1b263b;
}
    .banner .option-1 {
        width: 60%;
        height: 100%;
        background-color: #3066be;
        padding: 2rem 2rem;
        align-self: center;
    }
        .banner h4{
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.3;
            font-weight: 400;
            text-align: center;
            text-shadow: #212529 .06rem .06rem 0rem;
        }
    .banner .option-2 {
        width: 40%;
        height: 100%;
        padding: 0rem 1rem;
        align-self: center;
    }
        .banner h6{
            margin: 0 ;
            padding: .5rem;
            font-size: 1.2rem;
            text-align: center;
            text-shadow: #212529 .06rem .06rem 0rem;
        }


/* BUILDING PROCESS SECTION 2 */

.section-2 {
    width: 100%;
    background-image: url(../images/building-process/zip-system-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode:darken;
    background-color: #212529aa;
    margin: 0rem;
    padding: 1rem 0rem;
}

@media only screen and (max-width : 768px) {
    .section-2{
        background-size: cover;
    }
}

.section-2 .section-title{
    width:60%;
}
.section-2 .sub-heading {
        width: 50%;
        margin: 1.5rem 0 .5rem 2rem;
        
    }


    .section-2 .text {
        display: flex;
        flex-direction: row;
        padding: .3rem 2rem;
    }

        .section-2 svg {
            margin: .2rem;
            align-self: center;
        }

        .section-2 p {
                padding: .5rem .7rem;
                margin: 0rem;
                width: 70%; 
                color: #F5F5F5;
                align-self: center;
                line-height: 1.7;
                text-shadow: #212529 .08rem .08rem 0rem;
            }

  
        

/* BUILDING PROCESS SECTION 3 */

.section-3 {
    width: 100%;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem 1rem;
    background-color: #415A77;
    font-size: 1.2rem;
    border:.25rem solid #cbd2dc;
}


.section-3 .section-title{
        margin: 1rem 0rem;
        width: 40%;
        border:.18rem solid #cbd2dc;
    }

    .section-3 .content{
        display: flex;
        flex-direction: row;
        height:70%;
        text-align: center;
        justify-content: center;
        text-shadow: #212529 .05rem .05rem 0rem;
    
    }
     
        .section-3 .option-1 {
            width: 45%;  
            height:24rem;
            display: flex;
            flex-direction: column;  
            align-items: center;
        }

        .section-3 .text{
            width: 10%;
            height:100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0rem;
            font-size: 1.8rem;
            font-style: italic;
        }


        .section-3 .option-2 {
            width: 45%;
            height:24rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .section-3 .option-1 h5 {
                width:100%;
                height: 30%;
                text-align: center;
                font-size: 1.4rem;
                padding:.5rem 0rem ;
                margin: 0rem;
                display: block;
                align-content: center;
                line-height: 1.5;
            }
                    .section-3 .option-1 h5 a{
                        padding: 0rem;
                        margin: 0rem;
                        color:#F5F5F5;
                        font-size: 1.4rem;
                        display: inline;
                        background-color: #f5f5f500;
                        border: none;
                    }
                        .section-3 .option-1 h5 a:hover{
                            padding: 0rem;
                            margin: 0rem;
                            color:#F5F5F5;
                            display: inline;
                            background-color: #f5f5f500;
                            border: none;
                            text-decoration: underline #f5f5f5 .05rem;
                        }


            .section-3 .option-1 a{
                width: 55%;
                height:20%;
                text-align: center;
                font-size: 1.2rem;
                color: #f5f5f5;
                background-color: #212529;
                border: #495057 .05rem solid;
                border-radius: .3rem;
                margin:1rem;
                padding:.5rem;
            }
    
            .section-3 .option-1 a:hover{
                color:#e2e3e5;
                background-color: #495057;
                border: #f5f5f5 .05rem solid;
                transition: .2s;
            }
            .section-3 .arrow {
                font-size: 1.5rem;
                width:100%;
                height:10%;
                text-align: center;
                display: block;
                line-height: 1;
            }
            .section-3 .blurb{
                width: 130%;
                height:39%;
                text-align: center;
                background-color: #1b263b;
                align-content: center;
                font-size: 1.3rem;
                margin: 1.5rem 0rem 0rem 22%;
                padding: 2rem;
                border:.18rem solid #cbd2dc;
                font-style: italic;
            }



    .section-3 .option-2 h5{
        width:100%;
        height: 30%;
        text-align: center;
        font-size: 1.4rem;
        padding:.5rem ;
        margin: 0rem;
        display: block;
        align-content: center;
    }


        .section-3 .option-2 a{
            width: 64%;
            height: 20%;
            text-align: center;
            font-size: 1.2rem;
            color: #f5f5f5;
            background-color: #212529;
            border: #495057 .05rem solid;
            border-radius: .3rem;
            margin: 1rem;
            padding:.5rem;
        }


            .section-3 .option-2 a:hover{
                color:#e2e3e5;
                background-color: #495057;
                border: #f5f5f5 .05rem solid;
                transition: .2s;
            }


            

/* BUILDING PROCESS GALLERY */

.js-gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:#212529;
    margin: 0rem 0rem 2rem 0rem;
    padding: 0rem 1rem;
}

#gallery-card-template {

}

.gallery-card {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height:23.5rem;
    text-align: center;
    background-color:#f5f5f5;
    border-radius: .3rem;
    margin: 1rem 0rem;
    padding: .5rem;
}

.gallery-card:hover {

}
    .gallery-card img{
        height: 70%;
        object-fit: cover;
        overflow: hidden;
        
    }

.card-img-top img{
object-position: center;
}

.card-body {
    height: 28%;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    padding: .5rem 0rem 0rem 0rem;
    
}

    .card-body p {
        height: 100%;
        margin: 0rem ;
        padding: 0rem .2rem;
        font-size: 1.1rem;
        align-content: center;
    }



    

    


