


/* HEADER */

.large-header {
    background-image: url(../images/headers/building-process-header.jpg);
}

.gradient {
        background-image: linear-gradient(to right, #212529ab , #21252978 ,#21252900 , #21252900);
        height: 100%;
        width:100%;
    }

    /* BUILDING PROCESS SECTION 1 */
.section-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem 0em 1rem 0em;
    padding: .2em 0em;
}

    .section-1 img {
        width:40%;
        padding: .5em;
        padding-right: 0em;
        object-fit: cover;
        overflow: hidden;
        object-position: left;
    }

    .section-1 .text {
        width:60%;
        padding: .5em;
    }
    
    .section-1 p {
        padding: 0rem 1rem .7rem 1rem;
        margin: 0em;
    }


/* BUILDING PROCESS BANNER */
.banner {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0rem 0em .5rem 0em;
    background-color: #1b263b;
}
    .banner .option-1 {
        width: 60%;
        height: 100%;
        background-color: #3066be;
        padding: 2rem 2rem;
        align-self: center;
    }

        .banner h4{
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.3;
            font-weight: 400;
            text-align: center;
        }

    .banner .option-2 {
        width: 40%;
        height: 100%;
        padding: 0em 1em;
        align-self: center;
    }
        .banner h6{
            margin: 0 ;
            padding: .5rem;
            font-size: 1.2rem;
            text-align: center;
        }

/* BUILDING PROCESS SECTION 2 */

.section-2 {
    width: 100%;
    background-image: url(../images/building-process/zip-system.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode:darken;
    background-color: #212529aa;
    margin: 0rem 0em 1rem 0em;
    padding: .5rem 1em;
}
.section-2 .sub-heading {
        width: 50%;
        margin: .5rem 0;
    }


    .section-2 .text {
        display: flex;
        flex-direction: row;
        padding: .2rem .7rem;
    }

        .section-2 svg {
            margin: .2rem;
            align-self: center;
        }

        .section-2 p {
                padding: .5rem;
                margin: 0em;
                width: 70%; 
                color: #F5F5F5;
                align-self: center;
            }

  
        

/* BUILDING PROCESS SECTION 3 */

.section-3 {
    
}
    .section-3 .section-title{
        margin: 2rem 0 1.5rem 1rem;
    }
     
    .section-3 a{
    width: 30%;
    display: block;
    margin: 1rem auto;
    padding: .6rem 1rem;
    color: #f5f5f5;
    background-color: #212529;
    border: #495057 1px solid;
    font-size: 1.5rem;
    text-align: center;
    border-radius: .3rem;
    text-shadow: #212529 .04rem .04rem .05rem;
    }
    
        .index-section-3 a:hover{
            color:#e2e3e5;
            background-color: #495057;
            border: #f5f5f5 1px solid;
            transition: .2s;
        }

/* INDEX SECTION 4 */

.index-section-4 {
    width: 100%;
    margin: 0rem 0em 1rem 0em;
    padding: 0em 1em;
}

.index-section-4 .section-title{
        margin: 1rem 0rem 1rem 1rem;
    }
.index-section-4 .section {
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: .5em;
    }

    .index-section-4 .slide-1 {
        width: 33%;
        background-color: #e2e3e5;
        color: #212529;
        padding: .5rem 1rem;

    }

    .index-section-4 a {
        color:#212529;
    }


    .index-section-4 .slide-2 {
        width: 33%;
        background-color: #e2e3e5;
        color: #212529;
        padding: .5rem 1rem 0rem 1rem;
    }
        

    .index-section-4 .slide-3 {
        width:30%;
        display: flex;
        flex-direction: column;
        padding: .5em;
        text-align: center;
        align-items: center;
        background-color: #e2e3e5;
        color: #212529;
    }


    .index-section-4 .text {
        height: 18%;
        background-color: #f5f5f5; 
    }
  
        .index-section-4 .slide-1 h4,.slide-2 h4{
            height: 50%;
            margin: 0rem;
            padding: 0rem .5rem;
            align-content: center;

        }

            .index-section-4 .slide-1 p,.slide-2 p{
                height: 50%;
                margin: 0rem;
                padding: 0rem .5rem;
                align-content: center;
            }

        .index-section-4 .slide-1 img, .slide-2 img{
                height: 70%;
                width: 100%;
                padding: 0rem;
                object-fit: cover;
                overflow: hidden;
                object-position: center;
            }

    .index-section-4 .slide-3 {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: .5em;
        
        margin: 0rem .5rem;
        background-color: #e2e3e5;
        color: #212529;
    }
        .index-section-4 .slide-3 img{
            width:95%;
            padding: .1em;
            object-fit: cover;
            overflow: hidden;
        }
        .index-section-4 .slide-3 p{
            width:95%;
            padding: .1em;
            font-size: 1rem;
            
        }


    

    


