/* HEADER */

.large-header {
  background-image: url(../images/headers/webP/building-process-header.webp);
  background-position: top;
  height: 60vh;
}

.gradient {
  background-image: linear-gradient(to right, #212529ad, #2125299a, #2125297b, #21252943, #21252900, #21252900);
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .gradient {
    background-image: linear-gradient(to right, #212529c9, #2125298d, #21252952, #2125291f);
  }
}

/* Jump to section buttons */

.title .jump .sections{
  display: flex;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

  .title .jump .sections a{
    width: 33%;
    color: var(--text-light);
    text-align: center;
    align-content: center;
    background-color: var(--bg-dark-blue);
    padding: .6rem .1rem;
    min-width: 100px ;
    flex-wrap: wrap;
  }

  .title .jump .sections a:hover{
    background-color: var(--dark-blue-shadow);
  }

  .title .jump .sections a p{
    padding: 0rem;
    font-size: 1rem;
    height:20px;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .title .jump .sections .info-btn {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  } 
    .title .jump .sections .info-btn p{
      border-left: 2px var(--text-light) solid;
    } 

    .title .jump .sections .benefits-btn p{
      border-left: 2px var(--text-light) solid;
      border-right: 2px var(--text-light) solid;
    } 

  .title .jump .sections .gallery-btn {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  } 
    .title .jump .sections .gallery-btn p{
      border-right: 2px var(--text-light) solid;
    } 

@media only screen and (min-width: 768px) and (max-width: 901px) {
  .title .jump .sections .benefits-btn {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  } 

    .title .jump .sections .benefits-btn p{
      border-right: 2px var(--text-light) solid;
      border-left: 2px var(--text-light) solid;
    } 

  .title .jump .sections .gallery-btn {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  } 
    .title .jump .sections .gallery-btn p{
      border-right: 2px var(--text-light) solid;
      border-left: 2px var(--text-light) solid;
    } 
  
}

/* BUILDING PROCESS SECTION 1 */

.section-1 {
  display: flex;
  flex-direction: row;
  /* background-image: linear-gradient(to bottom, #343a40, #343a40, #1b263b5d, var(--bg-dark-blue)); */
  /* background-color: var(--bg-grey-blue); */
  color: var(--text-light);
}

.section-1 img {
  object-fit: cover;
  overflow: hidden;
  object-position: left;
}

.section-1 .text {
  padding: 2rem 1rem;
}

.section-1 p {
  padding: 0rem 1rem 0.7rem 1rem;
  margin: 0rem;
}

/* BUILDING PROCESS BANNER */

.banner {
  background-color: #3066be;
}

.banner .option-1 {
  text-align: center;
  padding: 0rem 1rem;
}

.banner .option-2 {
  background-color: var(--bg-dark-blue);
  padding: 2.5rem 0rem;
}

.banner h4 {
  margin: 0;
  padding: 0rem 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
}

.banner h6 {
  margin: 0rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

/* BUILDING PROCESS SECTION 2 */

.section-2 {
  display: flex;
  background-image: url(../images/building-process/webp/zip-system-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #212529aa;
  padding: 2rem 1rem;
}

.section-2 .option {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem;
  margin: 0.75rem 0rem;
  background-color: #1d2e434f;
  justify-content: space-between;
  align-items: center;
}

.section-2 .option svg {
  width: 7%;
}

.section-2 .option p {
  width: 93%;
  padding: 0.5rem;
}

@media only screen and (max-width: 575px) {
  .section-2 .option svg {
    width: 100%;
  }

  .section-2 .option p {
    width: 100%;
    padding: 0.5rem;
  }
  }

  @media only screen and (max-width: 1105px) {
  .section-2 {
    background-attachment: unset;
    background-position: 25% 50%;
  }
}

/* BUILDING PROCESS SECTION 3 */

.section-3 {
  padding: 0rem;
  background-color: var(--dusty-blue);
  font-size: 1.2rem;
  /* border: 0.25rem solid var(--bg-grey); */
}

.section-3 .option-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section-3 h4 {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.section-3 .option-2 {
  text-align: center;
}

.section-3 .option-2 p {
  font-style: italic;
  font-size: 1.6rem;
}

.section-3 .option-3 .btn-grey {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  text-align: left;
}

.section-3 .option-3 h5 {
  margin: 0rem;
  padding: 1rem 1rem;
  font-size: 1.4rem;
}


.section-3 .text {
  padding: 0.5rem 1rem 1.5rem 1rem;
}

.section-3 .blurb {
  text-align: center;
  background-color: var(--bg-dark-blue);
  align-content: center;
  font-size: 1.3rem;
  padding: 2rem;
  border-left: none;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .section-3 .blurb {
    border: 0.18rem solid var(--bg-grey);
    border-right: none;
    border-left: none;
  }
}

.section-3 .option-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-3 .option-3 h5 {
  padding-right: 0;
}

/* BUILDING PROCESS GALLERY */

.gallery-card img {
  height: 70%;
  object-fit: cover;
  overflow: hidden;
}

.card-body {
  height: 28%;
}

.card-body p{
  height: 90%;
}

.card-body .card-location{
  height:0;
}