/* HEADER */

.shed-header {
    background-image: url(../images/headers/select-sheds-banner.PNG)
}
.gradient {
        background-image: linear-gradient(to right, #21252974 , #21252943 , #21252900 , #21252900 ,#21252900);
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


/* INFO SECTION 1 */

    .info-section-1 img {
        /* width:45%; */
    }
    .info-section-1 .text {
        /* width:55%; */
    } 

    .info-section-1 .sub-heading{
        padding:.5rem .75rem;
    }
    .info-section-1 a{
        width: 50%;
        /* height:12%; */
        font-size: 1.2rem;
        display: block;
        color: #f5f5f5;
        background-color: #212529;
        border: #495057 .05rem solid;
        text-align: center;
        border-radius: .3rem;
        text-shadow: #212529 .04rem .04rem .05rem;
        padding: .7rem;
        margin: .5rem 1rem;
    }
        .info-section-1 a:hover{
            color:#e2e3e5;
            background-color: #495057;
            border: #f5f5f5 .05rem solid;
            transition: .2s;
        }


/* INFO SECTION 2 */

    .info-section-2 .text {
        /* width:60%; */
    }

    .info-section-2 img {
        /* width:40%; */
    
    }
        .info-section-2 p a{
            color:#f5f5f5;
            text-decoration: none;
        }
            .info-section-2 p a:hover{
                text-decoration: underline;
            }
        .info-section-2 p.red{
            color: #e90202;
        }


/*INFO SECTION 3 */
 @media only screen and (min-width : 992px) {
.info-section-3 {
   
    margin: 0rem 0rem 1.5rem 0rem;
   
}
 }
    .info-section-3 #carousel{
        /* width: 53%; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: .5rem;
    }
        .info-section-3 .carousel-item img{
            object-fit:cover ;
            overflow:hidden;
            width: 31.25rem;
            height: 21.8rem;
            margin: 0rem auto;
            object-position: center;
        }
            .info-section-3 .carousel-inner {
                width: 90%;
            }
            .info-section-3 .carousel-control-prev {
                width:5% ;
            }
            .info-section-3 .carousel-control-next {
                width:5% ;
            }

.info-section-3 .text{
    /* width: 44%; */
    background-color: #f5f5f5;
    align-self: center;
    padding: .5rem;
    border-radius: .3rem;
}
    .info-section-3 .text .sub-heading{
        margin: 0rem 0rem .5rem 0rem;
        font-size: 1.5rem;
        padding: .5rem;
        text-align: center;
    }

    .info-section-3 .text p{
        text-align: center;
        padding: .3rem 1rem;
        color: #212529;
        line-height: 1.5;
    }   


    @media only screen and (max-width : 992px) {
        .info-section-3 {
            flex-direction: column-reverse;
            justify-content: space-evenly;
        }

         .info-section-3 .carousel-item img{
            height:auto;
         }

    }