/* HEADER */

.shed-header {
    background-image: url(../images/headers/select-sheds-banner.PNG)
}

.gradient {
        background-image: linear-gradient(to right, #21252974 , #21252943 , #21252900 , #21252900 ,#21252900);
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


/* INFO SECTION 1 */

.info-section-1 {
    width: 100%;
    margin: 0rem;
    padding: .5rem 0rem;
    background-color: #415a77;
    border-top:.18rem solid #cbd2dc;
    border-bottom:.18rem solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
}
.info-section-1 .section-title {
    margin: .5rem 0 .5rem 1rem;
    border:.18rem solid #cbd2dc;
}
.info-section-1 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .info-section-1 img {
        width:45%;
        padding: .3rem;
        padding-left: 0rem;
        object-fit: cover;
        overflow: hidden;
    }

    .info-section-1 .text {
        width:55%;
        height:100%;
        padding: .5rem;
        font-size: 1.2rem;
    }
    
    .info-section-1 p {
        padding: .5rem;
        margin: 0rem;
    }

    .info-section-1 a{
        width: 50%;
        height:10%;
        display: block;
        color: #f5f5f5;
        background-color: #212529;
        border: #495057 .05rem solid;
        text-align: center;
        border-radius: .3rem;
        text-shadow: #212529 .04rem .04rem .05rem;
        padding: .7rem;
        margin: .5rem 1rem;
    }

        .info-section-1 a:hover{
            color:#e2e3e5;
            background-color: #495057;
            border: #f5f5f5 .05rem solid;
            transition: .2s;
        }




/* INFO SECTION 2 */

.info-section-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem 0rem 1.5rem 0rem;
    padding: .5rem 0rem;
    background-color: #f5f5f5a9;
    border-bottom:.18rem solid #cbd2dc;
    color:#212529;

}

.info-section-2 .sub-heading {
    border: .18rem solid #495057;
    }

    .info-section-2 img {
        width:40%;
        padding: .3rem;
        padding-right: 0rem;
        object-fit: cover;
        overflow: hidden;
    }

    .info-section-2 .text {
        width:60%;
        height:100%;
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
    
    .info-section-2 p {
        padding: .5rem;
        margin: 0rem;
    }

        .info-section-2 p a{
            font-size: 1.2rem;
            color:#212529;
            text-decoration: none;
        }

            .info-section-2 p a:hover{
                text-decoration: underline;
                text-shadow: #f5f5f5 .04rem .04rem .05rem;
                color:#212529;
                
            }

        .info-section-2 p.red{
            color: #cf0000;
        }



/*INFO SECTION 3 */

.info-section-3 {
    width:100%; 
    margin: 0rem 0rem 1.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .info-section-3 #carousel{
        width: 53%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: .5rem;
    }
        .info-section-3 .carousel-item img{
            object-fit:cover ;
            overflow:hidden;
            width: 31.25rem;
            height: 21.8rem;
            margin: 0rem auto;
            object-position: center;
        }
            .info-section-3 .carousel-inner {
                width: 90%;
            }
            .info-section-3 .carousel-control-prev {
                width:5% ;
            }
            .info-section-3 .carousel-control-next {
                width:5% ;
            }

.info-section-3 .text{
    width: 44%;
    background-color: #f5f5f5;
    align-self: center;
    padding: .5rem;
    border-radius: .3rem;
}
    .info-section-3 .text .sub-heading{
        margin: 0rem 0rem .5rem 0rem;
        font-size: 1.5rem;
        padding: .5rem;
        text-align: center;
    }

    .info-section-3 .text p{
        text-align: center;
        padding: .3rem 1rem;
        color: #212529;
        line-height: 1.5;
    }   