/* HEADER */

.shed-header {
  background-image: url(../images/headers/webP/select-sheds-banner.webp);
}

.gradient {
  background-image: linear-gradient(to right, #21252974, #21252943, #21252900, #21252900, #21252900);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 590px) {
  .shed-header {
    background-image: url(../images/headers/webP/select-shed-header-small.webp);
  }
  .gradient {
    background-image: linear-gradient(to right, #212529, #212529a1, #21252965, #21252937);
  }
}

@media only screen and (max-width: 1000px) {
  .gradient {
    background-image: linear-gradient(to right, #212529ad, #21252991, #21252955, #21252955, #21252900);
  }
}

/* INFO SECTION 1 */

.info-section-1 .sub-heading {
  padding: 0.5rem 0.75rem;
}

.info-section-1 .btn-grey p {
  font-size: 1.3rem;
}

/* INFO SECTION 2 */

.info-section-2 p.red {
  color: #e90202;
}

.info-section-2 img{
  object-position: left;
}

/* INFO SECTION 3 */

.info-section-3 #carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0rem;
  height: 28rem;
}

.info-section-3 .carousel-item img {
  object-fit: contain;
  overflow: hidden;
  width: 31.25rem;
  height: 28rem;
  margin: 0rem auto;
  object-position: center;
}

.info-section-3 .carousel-inner {
  width: 90%;
}

.info-section-3 .carousel-control-prev {
  width: 5%;
}

.info-section-3 .carousel-control-next {
  width: 5%;
}

.info-section-3 .text {
  background-color: var(--bg-light);
  align-self: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.info-section-3 .text .sub-heading {
  margin: 0rem 0rem 0.5rem 0rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.info-section-3 .text p {
  text-align: center;
  padding: 0.3rem 1rem;
  color: var(--bg-dark);
  line-height: 1.5;
}

@media only screen and (max-width: 992px) {
  .info-section-3 {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}