/* HEADER */

.large-header {
  background-image: url(../images/headers/webP/select-vs-custom.webp);
  background-position: 50% 0%;
  height: 60vh;
  margin-bottom: 0rem;
}

.gradient {
  background-image: linear-gradient(to right, #212529ab, #21252958, #21252900, #21252900);
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .gradient {
    background-image: linear-gradient(to right, #212529c9, #2125298d, #21252952, #2125291f);
  }
}

/* SECTION 1 */

.section-1 {
  margin: 0rem;
  padding: 2rem 1rem;
  background-color: var(--bg-grey-blue);
  background-image: linear-gradient(to top, #212529a2, #212529a2), url(../images/background-images/webp/wood-2-background.webp);
}

.section-1 .options{
  display: flex;
  justify-content: space-evenly;
}

.section-1 .card {
  padding: 0rem;
  border: none;
  height: auto;
  margin: 0rem 1rem;
  border-radius: 0.5rem;
}

.section-1 .card-title {
  margin: 0rem;
  height: 4rem;
  color: var(--bg-light);
  background-color: var(--dusty-blue);
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  align-content: center;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}

.section-1 .card-img-top {
  height: 26rem;
  object-fit: cover;
}

.section-1 .card-body {
  height: max-content;
  padding: 0rem .5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

  .section-1 .card-body .card-text {
    height: max-content;
    padding: .5rem;
    align-content: center;
  }

  .section-1 .card-body .btn-grey {
    height: 3.5rem;
    align-content: center;
    font-size: 1.2rem;
    display: inline;
  }


    @media only screen and (min-width: 992px) {
  .section-1 .card-body .card-text{
    height: 17rem;
  }
}

  @media only screen and (min-width: 1016px) {
  .section-1 .card-body .card-text{
    height: 16.5rem;
  }
}


@media only screen and (min-width: 1483px) {
  .section-1 .card-body .card-text{
    height: 19rem;
  }
  .section-1 .card-body .card-text p{
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1815px) {
  .section-1 .card-body .card-text{
    height: 17rem;
  }
}

@media only screen and (min-width: 1933px) {
  .section-1 .card-body .card-text{
    height: 15.5rem;
  }
}

@media only screen and (min-width: 2232px) {
  .section-1 .card-body .card-text{
    height: 12rem;
  }
}

/* FEATURES SECTION */

.features {
  padding: 2rem 1rem;
  background-image: none;
  background-blend-mode: normal;
  background-color: #343a40;
}

.pricing{
  background-image: none;
}

.features .bold {
  font-weight: 600;
}

.features .section-title {
  margin: 0.5rem 0rem;
}

.features table {
  width: 93%;
  margin: 1rem auto 0rem auto;
  border-radius: 0.5rem;
}

.features table thead tr {
  width: 100%;
  color: var(--bg-light);
  background-color: var(--dusty-blue);
  font-size: 2rem;
  margin: 0rem;
  position: sticky;
}

@media only screen and (min-width: 1105px) {
  .features table thead tr {
    top: 80px;
  }
}

@media only screen and (min-width: 1142px) {
  .features table thead tr {
    top: 60px;
  }
}

@media only screen and (min-width: 2411px) {
  .features table thead tr {
    top: 35px;
  }
}

@media only screen and (max-width: 1105px) {
  .features table thead tr {
    top: 0;
    height: 6.25rem;
    vertical-align: bottom;
  }
}


.features table tbody {
  background-color: var(--bg-grey);
  color: var(--bg-dark);
}

.features table tbody tr:hover {
  background-color: #415a772b;
}

.features th {
  text-align: center;
  padding: 0.3rem 0rem;
  border: var(--bg-dark) 1.5px solid;
}

.features table td {
  width: 35%;
  border: var(--bg-dark) 1.5px solid;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.features table td.item {
  width: 20%;
  font-size: 1.3rem;
  text-align: left;
  padding: 0.8rem 0rem 0.8rem 2rem;
}

.features svg {
  width: 10%;
  margin: 0.5rem 0.6rem;
  display: inline-block;
}

.features svg.check {
  color: green;
}

.features svg.min {
  color: #eab700;
}

.features svg.x {
  color: #d00000;
}

.features table td .td-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.features table td p {
  width: 90%;
  display: inline-block;
}

/* MOBILE VERSION OF FEATURES TABLE */

.features .resp-table-features .pricing {
  display: none;
}

@media only screen and (max-width: 576px) {
  .features .resp-table-features .pricing {
    display: block;
  }
}

.key {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.25rem;
}

.key .option {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0rem;
  background-color: #1d2e434f;
}

.key .option p {
  width: 90%;
  align-content: center;
  font-size: 1rem;
}

.key .option svg {
  width: 10%;
  align-content: center;
}

.resp-table-features .pricing {
  padding: 0.5rem;
}

.resp-table-features .pricing .t-heading {
  width: 26%;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem 0.5rem;
  color: var(--bg-light);
  background-color: var(--dusty-blue);
  margin: 0rem;
  position: sticky;
  top: 10%;
  align-content: center;
  border: var(--bg-dark) 0.01rem solid;
}

.resp-table-features .pricing .t-heading.feature {
  width: 48%;
}

.resp-table-features .pricing .cell {
  padding: 0.5rem;
  width: 26%;
  align-content: center;
}

.resp-table-features .pricing .cell.feature {
  width: 48%;
  font-size: 1.2rem;
}

.resp-table-features .pricing .cell svg {
  display: block;
  margin: 0rem;
  width: 100%;
}

.resp-table-features .pricing .tbody {
  height: 100%;
}

/* SECTION 3 */

.section-3 {
  display: flex;
  background-image: url(../images/select-vs-custom/webp/bg-intro.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #212529aa;
  padding: 2rem 1rem;
}

.section-3 .option {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  background-color: #1d2e434f;
  justify-content: space-between;
}

.section-3 .option p {
  padding: 0.5rem 1.5rem;
}

.section-3 .option a {
  
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.section-3 .option a p {
  width: 80%;
  padding: 0rem;
}

.section-3 .option .arrow {
  font-size: 2.1rem;
  margin: 0;
  padding: 0;
  width: 20%;
}

@media only screen and (max-width: 1105px) {
  .section-3 {
    background-attachment: unset;
    background-position: 75% 50%;
  }
}