/* WHOLE BODY CONSISTENT STYLES */

.container-fluid{
    padding:0;
    margin:0;
}
.row{
    padding:0;
    margin:0;
    width:100%;
}
.col{
    padding:0;
    margin:0;
}
.row>*{
        padding:0;
    margin:0;
}
html {
    scroll-padding-top: 69px;
}
body {
    margin: 0rem;
    padding: 0rem;
    background-color: #343a40;
    color: #F5F5F5;
    width: 100%;
}
main {
    margin: 0rem 0rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    margin: 0rem;
    line-height: 1.9rem;
}
h1,h2 {
    text-shadow: .1rem .1rem 0rem #15253f;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}


/* NAVIGATION */

nav {
    width: 100%;
    display:flex ;
    background-color: #212529;
    padding: 0rem;
    margin: 0rem;
    position: sticky;
    top: 0;
    z-index: 100;
}
    .nav-button {
        width: 8.2%;
        text-align: center;
        align-content: center;
        align-items: center;
        color: #ADB5BD;
        letter-spacing: .05rem;
        font-weight: 600;
        padding: .4rem;
    }

    .nav-button.wide {
        width: 9.5%;
        padding: 0rem;
    }
        .nav-button-wide:hover {
            color: #C6C8C9;  
        }
        .nav-button:hover {
            color: #C6C8C9;  
        }
        .nav-button-wide-active {
            width: 9.5%;
            text-align: center;
            align-content: center;
            color: #F8F9FA;
            letter-spacing: .05rem;
            font-weight: 600;
            padding: 0rem;
        }
        .nav-button.active {
            color: #F8F9FA;
        }
            /* Dropdown Button */
            .dropbtn {
                color: #ADB5BD;
                cursor: pointer;
                padding: .4rem;
                width: 100%;
                height: 100%;
                align-content: center;
            }
            /* Dropdown button on hover & focus */
            .dropbtn:hover, .dropbtn:focus {
            color: #C6C8C9;
            }
            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
                width: 8.2%;
                text-align: center;
                align-content: center;
                color: #ADB5BD;
                letter-spacing: .05rem;
                font-weight: 600;
            }
            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #212529;
                min-width: 10rem;
                letter-spacing: .05rem;
                color:#c6c8c9;
            }
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                color:#e2e3e5;
                font-size: 1rem;
                background-color: #495057;
                border: #f5f5f5 .05rem solid;
                transition: .3s;
            }
            /* Links inside the dropdown */
            .dropdown-content a {
            color: #ADB5BD;
            padding: .75rem 1rem;
            text-decoration: none;
            display: block;
            border: #495057 .05rem solid;
            }
            /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
            .show {
                display:block;
            }

    /* COLLAPSIBLE NAV BAR RESPONSIVE */

@media only screen and (max-width : 1105px) { 
    html {
        scroll-padding-top: 0px;
    }
    nav{
        flex-direction: column;
        width: auto;
        height:95vh;
        display: none;
        justify-content: center;
        position:fixed ;
        top: 0;
    }
    #navBackdrop{
        height:100%;
        width: 100%;
        display: none;
        background-color: #21252992;
        position: fixed ;
        top:0rem;
        z-index:99;
    }
    button#menuClose{
        width: 100%;
        height:7.3vh;
        display: flex;
        border: .01rem #ADB5BD solid;
        color: #f5f5f5;
        padding: .5rem 1.5rem;
        background-color: #212529;
        align-content: center;
        align-items: center;
        letter-spacing: .05rem;
        font-weight: 600;
        font-size: 1.5rem ;
    }
    nav button svg{
        margin: .5rem;
    }
        a.nav-button{
            width: 100%;
            height:7.3vh;
            display: flex;
            justify-content: center;
            border: .01rem #ADB5BD solid;
            padding: .8rem .5rem;
            text-align: center;
            font-size: 1.5rem ;
        }
        a.nav-button.wide{
            width:100%;
        }
        .dropdown{
            width:100%;
            height:7.3vh;
            display: flex;
            align-content: center;
            border: .01rem #ADB5BD solid;

            font-size: 1.5rem ;
        }
        .dropbtn{
            padding:0rem;
            align-content: center;
        }
        .dropdown-content{
            position:absolute ;
            left: 17.9rem;
            top: 0rem;
        }
        .dropdown-content a {
            border: .01rem #ADB5BD solid;
            padding: .8rem .5rem;
            width: 15rem;
            height:7.3vh;
        }
    button#menuOpen{
        width:auto;
        position: fixed ;
        top:0rem;
        margin: .25rem;
        padding:.5rem 1rem;
        background-color: #212529c3;
        text-align: center;
        align-content: center;
        align-items: center;
        color: #f5f5f5;
        letter-spacing: .05rem;
        font-weight: 600;
        z-index: 100;
    }
}

@media only screen and (max-width : 527px) {
 .dropdown-content{
            left: 2.9rem;
            top: 4rem;
        }
        .dropdown-content a {
            color:#f5f5f5;
            background-color: #495057;
            border: #f5f5f5 .05rem solid;
        }

}

@media only screen and (min-width : 1105px) {
    #navBackdrop{
        display:none;
    }
    #menuOpen{
        display:none;
    }
    #menuClose{
        display:none;
    }
}

/* PAGE HEADERS */

.large-header {
    /* width: 100% ; */
    height: 80vh;
    margin: 0rem;
    background-attachment: fixed;
    overflow:hidden;
    object-fit:cover;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.large-header .gradient {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .large-header h1 {
            padding: 4% .5rem;
            margin: 0rem;
            font-size: 3rem;
            text-shadow: .15rem .15rem 0rem #15253f;
                color: #F5F5F5;
        }


.shed-header {
    height: 34vh;
    overflow:hidden;
    object-fit:cover;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.shed-header .gradient{
    display: flex;
    flex-direction: column;
     justify-content: center;
}
    .shed-header h1{
        padding: 4% .5rem;
        margin: 0rem;
        text-shadow: .1rem .1rem 0rem #15253f;
        font-size: 3.5rem;
        
    }

   

    /* PAGE HEADERS RESPONSIVE */

    @media only screen and (max-width : 992px) {
        .large-header {
            background-attachment:scroll;

        }
    }


/* TEMPLATES/HEADINGS! */

.section-title {
    font-size: 2.3rem;
    padding: .15rem;
    margin: 0 0 1.5rem 0rem;
    width: 100%;
    color: #f5f5f5;
    text-decoration: none;
    text-shadow: #212529 .08rem .08rem .05rem;
    background-color: #1b263b;
    border-radius: .75rem;
    border: .18rem solid #415a77;
    text-align: center;
}

.sub-heading {
    margin: 0 0 1rem 0;
    color: #f5f5f5;
    background-color: #415a77;
    border-radius: .75rem;
    border:.18rem solid #cbd2dc;
    /* width: 100%; */
    font-size: 2rem;
    padding:.5rem 1rem;
    text-shadow: #212529 .08rem .08rem .05rem;
}


/* SECTIONS! */


a#optionsupgrades{
    color:#f5f5f5;
    text-decoration: none;
}
    a#optionsupgrades:hover{
        text-decoration: underline;
    }


a#optionsupgradesbutton{
    font-size: 1.2rem;
    display: block;
    color: #f5f5f5;
    background-color: #212529;
    border: #495057 .05rem solid;
    text-align: center;
    border-radius: .3rem;
    text-shadow: #212529 .04rem .04rem .05rem;
    padding: .7rem;

}
    a#optionsupgradesbutton:hover{
        color:#e2e3e5;
        background-color: #495057;
        border: #f5f5f5 .05rem solid;
        transition: .2s;
    }

.card-row {
        display: flex;
        flex-direction: row;
    }

    


.jump-to {
    text-align: center;
    padding: .5rem;
    background-image: linear-gradient(to top, #343a40 , #233047 , #233047);
}
    .jump-to a {
        background-color: #212529;
        border: #495057 .05rem solid;

    }
        .jump-to a:hover {
        background-color: #495057;
        border: #f5f5f5 .05rem solid;
    }

    .jump-to .btn{
        width:33.33%
    }

    /* INFO SECTION 1 UTILITY/SELECT/CUSTOM SHEDS */

.info-section-1 {
    width: 100%;
    margin: 0rem ;
    padding: 1rem 0rem 0rem 0rem;
    background-color: #415a77;
    border-top:.18rem solid #cbd2dc;
    border-bottom:.18rem solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem 0rem;
}
.info-section-1 .section-title {
    /* margin: .5rem 0 .5rem 1rem; */
    border:.18rem solid #cbd2dc;
}
.info-section-1 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
    .info-section-1 img {
        /* width:50%; */
        padding: .3rem;
        padding-left: 0rem;
        object-fit: cover;
        overflow: hidden;
    }
    .info-section-1 .text {
            /* width:50%; */
            padding: .5rem;
        }  
    .info-section-1 p {
        margin: 0rem;
        padding: .5rem 1rem;
    }



    

    /* INFO SECTION 2 UTILITY/SELECT/CUSTOM */

.info-section-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    background-color: #233047;
    background-image: linear-gradient(to top, #343a40 , #233047 , #233047 , #233047);
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
}
.info-section-2 .sub-heading {
    
    }

    .info-section-2 .text {
        /* width:50%; */
        padding: .5rem;
    }
        .info-section-2 p {
            margin: 0rem;
            padding: .5rem 1rem;
        } 

    .info-section-2 img {
        /* width:50%; */
        padding: 0rem;
        padding-right: 0rem;
        object-fit: cover;
        overflow: hidden;
    }

  
    /* SHED FEATURES TABLE/SECTION */

.features {
    margin: 0rem;
    padding: 1.5rem 1rem;
    background-image:url(../images/background-images/wood-background.jpg) ;
    background-size: 100%;
    background-blend-mode:darken;
    background-color: #2125299c;
}
.features .section-title {
    margin: 0 0 1.5rem 0rem;
    /* width: 50%; */
}
.features .respon-table{
    width: 95%;
    background-color: #cbd2dc;
    text-align: center;
    margin: 0rem auto;
    color:#212529;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-shadow: #f5f5f5 .05rem .05rem .0rem;

}
    .features .respon-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
    }
    .features .cell{
        border:#212529 .01rem solid;
        text-align: left;
        padding: 1rem 1rem;
        width: 50%;
    }
    .features ul {
        margin: 0rem 0rem 0 1.2rem;
        padding: 0rem;
        height:100%;
    }
    .features li {
        padding-left: .5rem;
        align-content: center;
        height:90%;
    }


    /* FEATURES TABLE RESPONSIVE! */
@media only screen and (max-width : 768px) {
.features {
    padding: 1.5rem .5rem;
}
.features .respon-table{
    width: 100%;
    background-color: #cbd2dc;
    text-align: center;
    margin: 0rem;
    color:#212529;
    border-radius: 1rem;
    text-shadow: #f5f5f5 .05rem .05rem .0rem;
}
    .features .respon-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
    }
    .features .cell{
        padding: 1rem 1.5rem;
        width: 100%;
    }

     .features ul {
        margin: 0rem 0rem 0 1.2rem;
        padding: 0rem;
    }
    .features li {
        padding-left: .5rem;
    }

}




    /* SHED PRICING TABLE/SECTION */

.pricing {
    margin: 0rem 0rem 1.5rem 0rem;
    padding: 1.5rem 1rem;
    background-image:url(../images/background-images/wood-2-background.jpg) ;
    background-size: 100%;
    background-blend-mode:darken;
    background-color: #2125297e;
    }
    .pricing .respon-table{
        width: 95%;
        color: #212529;
        background-color: #DEE2E6;
        margin: 0rem auto;
        text-align: center;
        font-size:1.2rem;
        letter-spacing: .05rem;
        border-radius: .5rem;
        display:flex;
        flex-direction: column;
    } 

    .pricing .thead{
        background-color: #F5F5F5;
    }
    .pricing .t-heading{
        font-size: 1.8rem;
        font-weight: 400;
        background-color: #F5F5F5;
        padding: 1rem .5rem;
        width:50%;
    }

    .pricing .respon-row{
        display: flex;
        flex-direction: row;
    }
        .pricing .cell{
            padding: 1rem;
            width: 50%;
            align-content: center;
        }
        .pricing .tbody .respon-row:nth-child(2n){
        background-color: #F5F5F5;
        }
            .pricing .tbody .respon-row:hover{
                background-color: #415A77;
                color: #F5F5F5
            }



        /* MEDIA CHANGE SCREEN SIZE RESPONSIVE */
    @media only screen and (max-width : 768px) {

    .pricing {
        padding: 1.5rem .5rem;
        
    }

    .pricing .respon-table{
        width:100%;
        font-size:1.5rem;
    }
        .pricing .cell svg{
            display:none;
        }



    }

/* GALLERY  */

    /* GALLERY PAGE BUTTONS */

    .page-select{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .page-select button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #page{
        padding: .5rem 1rem;
    }
        #page p{
            font-size: 1rem;
        }

    #prev,#next{
        padding: 0rem .5rem;
        color: #f5f5f5;
        background-color: #212529;
        border: #495057 .05rem solid;
        border-radius: .3rem;
        text-shadow: #212529 .04rem .04rem .05rem;
    }

    #prev:hover,#next:hover{
        color:#e2e3e5;
        background-color: #495057;
        border: #f5f5f5 .05rem solid;
        transition: .2s;
    }


   button#prev:disabled,button#next:disabled{
        padding: 0rem .5rem;
        border-radius: .3rem;
        color: #f5f5f5ae;
        background-color: #495057;
        border: #212529 .05rem solid;
        cursor:default;
    }

.arrow{
    font-size: 1.5rem;
}


.gallery{

}


.gallery .js-gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:#212529;
    margin: 0rem 0rem 2rem 0rem;
    padding: 0rem 1rem;
}

#gallery-card-template {

}

.gallery-card {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 30rem;
    text-align: center;
    background-color:#f5f5f5;
    border-radius: .3rem;
    margin: 1rem .5rem;
    padding: .5rem;
}

.gallery-card:hover {

}
    .gallery-card img{
        height: 66%;
        object-fit: cover;
        overflow: hidden;
        
    }

.card-img-top img{
object-position: center;
}

.card-body {
    height: 33%;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    padding: .5rem 0rem 0rem 0rem;
    
}

    .card-body p {
        height: 70%;
        margin: 0rem ;
        padding: 0rem .2rem;
        font-size: 1.1rem;
        line-height: 1.3;
        align-content: center;
    }

    .card-body h5 {
        height: 30%;
        margin: 0rem ;
        padding: 0rem;
        align-content: center;
        font-size: 1rem;
    }

    /* GALLERY MEDIA RESPONSIVE */






/* SKIP TOP JUMP BACK TO TOP */

.skip-top {
        width: 3.5rem;
        height: 20% ;
        font-size: 1rem;
        text-align: center;
        padding: .3rem;
        margin: -1.5rem .75rem;
        background-color: #212529;
        border: #495057 .05rem solid; 
        border-radius: .3rem;
        position:sticky;
        top: 90%;
    float: right;
        z-index: 99;  
    }

    .skip-top a {
    color:#f5f5f5 ;
    padding: 0rem;
    text-decoration: none;


    }
    .skip-top:hover {
        background-color: #495057;
        border: #f5f5f5 .05rem solid;
        text-decoration: underline .05rem #f5f5f5;
        text-decoration: none;
    }

    .skip-top svg{
        display:block;
        justify-content: center;
    }

/* FOOTER */

footer.row {
    background-color: #212529;
    padding-top: 1rem;
}

    footer h2 {
        margin: .7rem 0rem;
        font-size: 1.8rem;
    }
    footer .card-row {
        flex-wrap: wrap;

    }
        footer .card-row .card {
            /* width: 30%; */
            text-align: center;
            color: #F5F5F5;
            background-color: #212529;
            border: none;
            z-index: 1;
            padding: 0rem 1rem;
        }

    footer .about-us {
     font-size: 1.2rem;
     text-align: center;
     padding: 0rem 0rem .5rem 0rem;
     line-height: 1.5;
   }

 a.quick-link  {
    width:100%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #9FA6B2 ;
    letter-spacing: .12rem;
    font-size: 1.5rem;
    padding: 1rem;
    transition: color .2s;
}

    a.quick-link:hover {
        color: #d0d5de ;
    }

    a.quick-link-active {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #d8dce3 ;
        font-weight: 500;
        letter-spacing: .12rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
footer .card-row .card.info {
            display: flex;
            flex-direction: column;
        
        }

@media only screen and (min-width : 1012px) { 
    footer .card-row .card.info .body{
        padding-left: 1rem;
    }
}
.contact-info {
    overflow: hidden;
    padding-bottom: 1.5rem;

}
    .contact-info h6{
        margin:0rem;
    }

    .contact-info a{
         text-decoration: none;
         font-size: 1rem;
         display: block;
    }
.contact-info iframe{
       
    } 
    .contact-info p{
        font-size: 1rem;
    }