/* WHOLE BODY CONSISTENT STYLES */

html {
    scroll-padding-top: 69px;
}

body {
    margin: 0rem;
    padding: 0rem;
    background-color: #343a40;
    color: #F5F5F5;
    width: 100%;

}

main {
    margin: 0rem 0rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    
}


h1,h2 {
    text-shadow: .1rem .1rem 0rem #15253f;
}


.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}


/* NAVIGATION */

nav {
    width: 100%;
    display:flex ;
    background-color: #212529;
    padding: 0rem;
    margin: 0rem;
    position: sticky;
    top: 0;
    z-index: 100;
}
    .nav-button {
        width: 9%;
        text-align: center;
        align-content: center;
        color: #ADB5BD;
        letter-spacing: 1px;
        font-weight: 600;
        padding: .4rem;
           
    }
        .nav-button:hover {
            color: #C6C8C9;  
        }
        .nav-button-active {
            width: 9%;
            text-align: center;
            align-content: center;
            color: #F8F9FA;
            letter-spacing: 1px;
            font-weight: 600;
            padding: .4rem;
        }
            /* Dropdown Button */
            .dropbtn {
                color: #ADB5BD;
                cursor: pointer;
                padding: .4rem;
                width: 100%;
                height: 100%;
                align-content: center;
            }
            /* Dropdown button on hover & focus */
            .dropbtn:hover, .dropbtn:focus {
            color: #C6C8C9;
            }
            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
                width: 9%;
                text-align: center;
                align-content: center;
                color: #ADB5BD;
                letter-spacing: 1px;
                font-weight: 600;
            }
            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #212529;
                min-width: 160px;
                letter-spacing: 1px;
                color:#c6c8c9;
            }
            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                color:#e2e3e5;
                font-size: 17px;
                background-color: #495057;
                border: #f5f5f5 1px solid;
                transition: .3s;
            }
            /* Links inside the dropdown */
            .dropdown-content a {
            color: #ADB5BD;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border: #495057 1px solid;
            }
            /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
            .show {
                display:block;
            }


/* PAGE HEADERS */

.large-header {
    width: 100% ;
    height: 80vh;
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow:hidden;
    object-fit: cover;
    color: #F5F5F5;
    margin: 0rem;
}

.large-header .gradient {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .large-header h1 {
            margin: 0 1.5rem;
            font-size: 3rem;
            text-shadow: .15rem .15rem 0rem #15253f;
        }


.shed-header {
    height: 100%;
    width: 100%;
    overflow:hidden;
    object-fit:cover;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

    .shed-header h1{
        height: 100%;
        margin: 4% .5rem;
        text-shadow: .1rem .1rem 0rem #15253f;
        font-size: 3.5rem;
    }

   


/* TEMPLATES/HEADINGS! */

.section-title {
    font-size: 37px;
    padding: .15rem;
    margin: 0 0 1.5rem 1rem;
    width: 40%;
    color: #f5f5f5;
    text-decoration: none;
    text-shadow: #212529 .08rem .08rem .05rem;
    background-color: #1b263b;
    border-radius: .75rem;
    border:3px solid #415a77;
    text-align: center;
}

.sub-heading {
    margin: 0 0 1rem 0;
    color: #f5f5f5;
    background-color: #415a77;
    border-radius: .75rem;
    border:3px solid #cbd2dc;
    width: 100% ;
    font-size: 2rem;
    padding: 5px 15px 7px 15px;
    text-shadow: #212529 .08rem .08rem .05rem;
}


/* SECTIONS! */

.card-row {
        display: flex;
        flex-direction: row;
    }

    


.jump-to {
    text-align: center;
    margin: .5rem 0rem;
    padding: 0rem 1rem;
}
    .jump-to a {
        background-color: #212529;
        border: #495057 1px solid;

    }
        .jump-to a:hover {
        background-color: #495057;
        border: #f5f5f5 1px solid;
    }


    /* SHED FEATURES TABLE/SECTION */

.features {
    width: 100%;
    margin: 0rem 0rem 2.5rem 0rem;
    padding: 0rem 1rem;
}

.features .section-title {
    margin: 0 0 1.5rem 0rem;
    width: 50%;
}

.features table{
    width: 95%;
    background-color: #cbd2dc;
    text-align: center;
    margin: 0rem auto;
    color:#212529;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-shadow: #f5f5f5 .05rem .05rem .0rem;
}

    .features tr{
        height: 3rem;
    }

    .features td{
        border:#212529 .1rem solid;
        text-align: left;
        padding: 1rem 1rem;
        width: 50%;
    }

    .features ul {
        margin: 0rem 0rem 0 1.2rem;
        padding: 0rem;
    }

    .features li {
        padding-left: .5rem;
    }

    /* SHED PRICING TABLE/SECTION */

.pricing {
        margin: 0rem 0rem 2.5rem 0rem;
        padding: 0rem 1rem;

    }

    .pricing table{
        width: 95%;
        color: #212529;
        background-color: #DEE2E6;
        margin: 0rem auto;
        text-align: center;
        font-size:1.2rem;
        letter-spacing: .05rem;
        border-radius: .5rem;
    }
    
    .pricing th{
        font-size: 2rem;
        font-weight: 400;
        background-color: #F5F5F5;
        padding: 1rem;
    }

        .pricing td{
            padding: 1rem;
            width: 50%;
        }

        .pricing tr:nth-child(2n){
        background-color: #F5F5F5;
        }

            .pricing tbody tr:hover{
                background-color: #415A77;
                color: #F5F5F5
            }



/* GALLERY  */

.js-gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:#212529;
    margin: 0rem 0rem 2rem 0rem;
    padding: 0rem 1rem;
}

#gallery-card-template {

}

.gallery-card {
    display: flex;
    flex-direction: column;
    width: 340px;
    height:430px;
    text-align: center;
    background-color:#f5f5f5;
    border-radius: .3rem;
    margin: 1rem 0rem;
    padding: .5rem;
}

.gallery-card:hover {

}
    .gallery-card img{
        height: 70%;
        object-fit: cover;
        overflow: hidden;
        
    }

.card-img-top img{
object-position: center;
}

.card-body {
    height: 28%;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    padding: .5rem 0rem 0rem 0rem;
    
}

    .card-body p {
        height: 50%;
        margin: 0rem ;
        padding: 0rem .2rem;
        font-size: 1.1rem;
        align-content: center;
    }

    .card-body h5 {
        height: 50%;
        margin: 0rem ;
        padding: 0rem;
        align-content: center;
        font-size: 1rem;
    }

/* SKIP TOP JUMP BACK TO TOP */

.skip-top {
        width: 5%;
        height: 20% ;
        font-size: 1rem;
        text-align: center;
        padding: .3rem;
        margin: -1.5rem;
        background-color: #212529;
        border: #495057 1px solid; 
        border-radius: .3rem;
        position:sticky;
        top: 90%;
        left: 94.5%;
        z-index: 99;  
    }

    .skip-top a {
    color:#f5f5f5 ;
    padding: 0rem;
    text-decoration: none;


    }
    .skip-top:hover {
        background-color: #495057;
        border: #f5f5f5 1px solid;
        text-decoration: underline 1px #f5f5f5;
        text-decoration: none;
    }

    .skip-top svg{
        display:block;
        justify-content: center;
    }

/* FOOTER */

footer {
background-color: #212529;
}

    footer h2 {
        margin: .7rem 0rem;
    }
    footer .card-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
        footer .card-row .card {
            width: 30%;
            text-align: center;
            color: #F5F5F5;
            background-color: #212529;
            border: none;
            z-index: 1;
        }

    footer .about-us {
     font-size: 17px;
     text-align: center;
     padding: 0px 1.2rem 5px 1.2rem;
     line-height: 1.5;
   }

 a.quick-link  {
    width:100%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #9FA6B2 ;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 15px;
    transition: color .2s;
}

    a.quick-link:hover {
        color: #d0d5de ;
    }

    a.quick-link-active {
    width:100%;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #d8dce3 ;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 25px;
        padding: 15px;
    }

.contact-info {
    text-align: left;
}
    .contact-info h6{
        margin: .6rem 0rem .2rem 0rem;
    }

    .contact-info a{
         margin: 0rem .5rem .5rem 3rem;
         text-decoration: none;
         font-size: 16px;
    }
.contact-info iframe{
         margin: 0rem 0rem .5rem 3rem;
    } 
    .contact-info p{
        margin: 0rem 0rem .5rem 3rem;
        font-size: 16px;
    }