/* WHOLE BODY CONSISTENT STYLES */

:root {
  --bg-dark: #212529;
  --bg-light: #f5f5f5;
  --bg-grey: #cbd2dc;
  --bg-grey-blue: #233047;
  --bg-dark-blue: #1b263b;
  --dusty-blue: #415a77;
  --shadow-navy: #15253f;
  --blue-grey: #3c4349;
  --btn-text: #e8e0e0;
  --btn-hover: #282e32;
  --btn-text-hover: #f5f5f5;
  --btn-text-active: #ffffff;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
  width: 100%;
}

.row > * {
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 69px;
}

body {
  margin: 0rem;
  padding: 0rem;
  background-color: #343a40;
  color: var(--bg-light);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.5px ;
}

main {
  margin: 0rem 0rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  margin: 0rem;

}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

/* PAGE HEADERS */

.large-header {
  margin: 0rem;
  background-attachment: fixed;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.large-header .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large-header h1 {
  padding: 4% 1.5rem;
  margin: 0rem;
  font-size: 4rem;
  color: var(--bg-light);
}

.shed-header {
  height: 34vh;
  overflow: hidden;
  object-fit: cover;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.shed-header .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shed-header h1 {
  padding: 4% 28% 4% 1.5rem;
  margin: 0rem;
  font-size: 3.5rem;
}

/* PAGE HEADERS RESPONSIVE */

@media only screen and (max-width: 992px) {
  .large-header {
    background-attachment: scroll;
  }
}

/* TEMPLATES/HEADINGS! */

.section-title {
  width: max-content;
  max-width: 100%;
  font-size: 2.3rem;
  padding: 0.5rem 1.5rem;
  margin: 0 0 1.5rem 0rem;
  color: var(--bg-light);
  background-color: var(--bg-dark-blue);
  border-radius: 0.75rem;
  border: 0.18rem solid var(--dusty-blue);
}

.sub-heading {
  width: max-content;
  max-width: 100%;
  min-width: 20%;
  margin: 0 0 1rem 0;
  color: var(--bg-light);
  background-color: var(--dusty-blue);
  border-radius: 0.75rem;
  border: 0.18rem solid var(--bg-grey);
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
}

/* SECTIONS! */

.btn-grey{
  padding: 0.3rem .5rem;
  margin:0rem;
  background-color: var(--bg-dark);
  text-align: center;
  align-self: center;
  color: var(--btn-text);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 0.7rem;
}

.btn-grey:hover{
  color: var(--btn-text-hover);
  background-color: var(--btn-hover);
  transition: 0.2s;
}

.btn-blue{
  background-color: #34485f;
  color:var(--bg-light);
  padding: .75rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
}

.btn-blue:hover{
  background-color: #415a77c8;
  transition: 0.2s;
}

.text-link a{
  color: var(--bg-light);
  text-decoration: underline;
  text-underline-offset: .29rem;
  font-style: italic;
}

/* Jump To page section buttons */

.jump-to {
  text-align: center;
  padding: 0.75rem 0rem;
  background-image: linear-gradient(to bottom, #343a40, var(--bg-grey-blue), var(--bg-grey-blue));
}

.jump-to a {
  background-color: var(--bg-dark);
  border: var(--blue-grey) 0.05rem solid;
  color: var(--btn-text);
}

.jump-to a:hover {
  color: var(--btn-text-hover);
  background-color: var(--btn-hover);
  transition: 0.2s;
  border: var(--blue-grey) 0.05rem solid;
}

/* INFO SECTION 1 UTILITY/SELECT/CUSTOM SHEDS */

.info-section-1 {
  width: 100%;
  margin: 0rem;
  padding: 1.5rem 0rem 0rem 0rem;
  background-color: var(--dusty-blue);
  border-top: 0.18rem solid var(--bg-grey);
  border-bottom: 0.18rem solid var(--bg-grey);
  color: var(--bg-light);
}

.info-section-1 .section-title {
  border: 0.18rem solid var(--bg-grey);
}

.info-section-1 .content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info-section-1 img {
  padding: 0rem;
  object-fit: cover;
  overflow: hidden;
  object-position: 70% 50%;
}

.info-section-1 .text {
  padding: 1.5rem 1rem;
  align-content: center;
}

.info-section-1 p {
  margin: 0rem;
  padding: 0.5rem 1rem;
}




@media only screen and (min-width: 1400px) {
  .info-section-1 p,.info-section-2 p,.info-section-3 p {
    font-size: 1.5rem;
  }
}

/* INFO SECTION 2 UTILITY/SELECT/CUSTOM */

.info-section-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  background-color: var(--bg-grey-blue);
  background-image: linear-gradient(to top, #343a40, var(--bg-grey-blue), var(--bg-grey-blue), var(--bg-grey-blue));
  color: var(--bg-light);
}

.info-section-2 .text {
  padding: 2rem 1rem;
  align-content: center;
}

.info-section-2 p {
  margin: 0rem;
  padding: 0.5rem 1rem;
}

.info-section-2 img {
  padding: 0rem;
  padding-right: 0rem;
  object-fit: cover;
  overflow: hidden;
  object-position: left;
}

@media only screen and (max-width: 1105px) {
  .features {
    background-size: contain;
  }
}

/* SKIP TOP JUMP BACK TO TOP */

.skip-top {
  width: 3.5rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem;
  margin: 2rem 1.5rem;
  background-color: var(--bg-dark);
  border: var(--blue-grey) 0.05rem solid;
  border-radius: 0.3rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 98;
}

.skip-top a {
  color: var(--bg-light);
  padding: 0rem;
  text-decoration: none;
}

.skip-top:hover {
  background-color: var(--blue-grey);
  border: var(--bg-light) 0.05rem solid;
  text-decoration: underline 0.05rem var(--bg-light);
  text-decoration: none;
}

.skip-top svg {
  display: block;
  justify-content: center;
}