/* WHOLE BODY CONSISTENT STYLES */

.container-fluid {
  padding: 0;
  margin: 0;
}
.row {
  padding: 0;
  margin: 0;
  width: 100%;
}
.col {
  padding: 0;
  margin: 0;
}
.row > * {
  padding: 0;
  margin: 0;
}
html {
  scroll-padding-top: 69px;
}
body {
  margin: 0rem;
  padding: 0rem;
  background-color: #343a40;
  color: #f5f5f5;
  width: 100%;
}
main {
  margin: 0rem 0rem;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.2rem;
  margin: 0rem;
  line-height: 1.9rem;
}
h1,
h2 {
  text-shadow: 0.1rem 0.1rem 0rem #15253f;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}

/* PAGE HEADERS */

.large-header {
  /* width: 100% ; */
  height: 80vh;
  margin: 0rem;
  background-attachment: fixed;
  overflow: hidden;
  object-fit: cover;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.large-header .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.large-header h1 {
  padding: 4% 0.5rem;
  margin: 0rem;
  font-size: 3rem;
  text-shadow: 0.15rem 0.15rem 0rem #15253f;
  color: #f5f5f5;
}
.shed-header {
  height: 34vh;
  overflow: hidden;
  object-fit: cover;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.shed-header .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shed-header h1 {
  padding: 4% 0.5rem;
  margin: 0rem;
  text-shadow: 0.1rem 0.1rem 0rem #15253f;
  font-size: 3.5rem;
}

/* PAGE HEADERS RESPONSIVE */

@media only screen and (max-width: 992px) {
  .large-header {
    background-attachment: scroll;
  }
}

/* TEMPLATES/HEADINGS! */

.section-title {
  font-size: 2.3rem;
  padding: 0.15rem;
  margin: 0 0 1.5rem 0rem;
  width: 100%;
  color: #f5f5f5;
  text-decoration: none;
  text-shadow: #212529 0.08rem 0.08rem 0.05rem;
  background-color: #1b263b;
  border-radius: 0.75rem;
  border: 0.18rem solid #415a77;
  text-align: center;
}
.sub-heading {
  margin: 0 0 1rem 0;
  color: #f5f5f5;
  background-color: #415a77;
  border-radius: 0.75rem;
  border: 0.18rem solid #cbd2dc;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-shadow: #212529 0.08rem 0.08rem 0.05rem;
}
/* SECTIONS! */

a#optionsupgrades {
  color: #f5f5f5;
  text-decoration: none;
}
a#optionsupgrades:hover {
  text-decoration: underline;
}
a#optionsupgradesbutton {
  font-size: 1.2rem;
  display: block;
  color: #f5f5f5;
  background-color: #212529;
  border: #495057 0.05rem solid;
  text-align: center;
  border-radius: 0.3rem;
  text-shadow: #212529 0.04rem 0.04rem 0.05rem;
  padding: 0.7rem;
}
a#optionsupgradesbutton:hover {
  color: #e2e3e5;
  background-color: #495057;
  border: #f5f5f5 0.05rem solid;
  transition: 0.2s;
}
.jump-to {
  text-align: center;
  padding: 0.5rem;
  background-image: linear-gradient(to top, #343a40, #233047, #233047);
}
.jump-to a {
  background-color: #212529;
  border: #495057 0.05rem solid;
}
.jump-to a:hover {
  background-color: #495057;
  border: #f5f5f5 0.05rem solid;
}

/* INFO SECTION 1 UTILITY/SELECT/CUSTOM SHEDS */

.info-section-1 {
  width: 100%;
  margin: 0rem;
  padding: 1rem 0rem 0rem 0rem;
  background-color: #415a77;
  border-top: 0.18rem solid #cbd2dc;
  border-bottom: 0.18rem solid #cbd2dc;
  color: #f5f5f5;
  text-shadow: #212529 0.08rem 0.08rem 0rem;
}
.info-section-1 .section-title {
  border: 0.18rem solid #cbd2dc;
}
.info-section-1 .content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.info-section-1 img {
  padding: 0.3rem;
  padding-left: 0rem;
  object-fit: cover;
  overflow: hidden;
}
.info-section-1 .text {
  padding: 0.5rem;
}
.info-section-1 p {
  margin: 0rem;
  padding: 0.5rem 1rem;
}

/* INFO SECTION 2 UTILITY/SELECT/CUSTOM */

.info-section-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0rem;
  padding: 1rem 0rem 0rem 0rem;
  background-color: #233047;
  background-image: linear-gradient(to top, #343a40, #233047, #233047, #233047);
  color: #f5f5f5;
  text-shadow: #212529 0.08rem 0.08rem 0.05rem;
}
.info-section-2 .text {
  padding: 0.5rem;
}
.info-section-2 p {
  margin: 0rem;
  padding: 0.5rem 1rem;
}
.info-section-2 img {
  padding: 0rem;
  padding-right: 0rem;
  object-fit: cover;
  overflow: hidden;
}

/* SKIP TOP JUMP BACK TO TOP */

.skip-top {
  width: 3.5rem;
  height: 20%;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem;
  margin: -1.5rem 0.75rem;
  background-color: #212529;
  border: #495057 0.05rem solid;
  border-radius: 0.3rem;
  position: sticky;
  top: 90%;
  float: right;
  z-index: 99;
}
.skip-top a {
  color: #f5f5f5;
  padding: 0rem;
  text-decoration: none;
}
.skip-top:hover {
  background-color: #495057;
  border: #f5f5f5 0.05rem solid;
  text-decoration: underline 0.05rem #f5f5f5;
  text-decoration: none;
}
.skip-top svg {
  display: block;
  justify-content: center;
}