/* WHOLE BODY CONSISTENT STYLES */

:root {
  --bg-dark: hsl(210, 24%, 16%);
  --bg-light: hsl(214, 15%, 98%);
  --text-light: hsl(214, 15%, 94%);
  --bg-grey: hsl(210, 16%, 82%);
  --bg-grey-blue: #233047;
  --bg-dark-blue: hsl(218, 60%, 18%);
  --dark-blue-shadow: hsl(218, 60%, 14%);
  --dusty-blue: hsl(209, 28%, 39%);
  --shadow-navy: #15253f;
  --blue-grey: #3c4349;
  --btn-text: hsl(214, 15%, 91%);
  --btn-hover: hsl(210, 24%, 18%);
  --btn-text-hover: hsl(214, 15%, 94%);
  --btn-text-active: hsl(216, 33%, 97%);
  --btn-blue: hsl(215, 55%, 32%);
  --btn-blue-hover: hsl(215, 55%, 33%);
  --btn-grey: hsl(210, 24%, 16%);
  --btn-grey-hover: hsl(210, 24%, 15%);

  --muted-dusty-blue: #3e5269;
  --muted-light-border: #b7bec7;
  --muted-dark-border: #737c8c;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
  width: 100%;
}

.row > * {
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 69px;
}

body {
  margin: 0rem;
  padding: 0rem;
  /* background-color: #343a40; */
  /* background-color: #3E4C59; */
  background-color: hsl(40, 4%, 30%);
  color: var(--text-light);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.5px ;
}

main {
  margin: 0rem 0rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  margin: 0rem;

}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

/* PAGE HEADERS */

.large-header {
  margin: 0rem;
  background-attachment: fixed;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.large-header .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large-header h1 {
  padding: 4% 1.5rem;
  margin: 0rem;
  font-size: 4rem;
  color: var(--text-light);
}

.shed-header {
  height: 34vh;
  overflow: hidden;
  object-fit: cover;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.shed-header .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shed-header h1 {
  padding: 4% 28% 4% 1.5rem;
  margin: 0rem;
  font-size: 3.5rem;
}

/* PAGE HEADERS RESPONSIVE */

@media only screen and (max-width: 992px) {
  .large-header {
    background-attachment: scroll;
  }
}

/* TEMPLATES/HEADINGS! */

.section-title {
  width: max-content;
  max-width: 95%;
  font-size: 2.3rem;
  padding: 0.5rem 1.5rem;
  margin: 0 0 1.5rem 0rem;
  color: var(--text-light);
  background-color: var(--bg-dark-blue);
  border-radius: .5rem;
  box-shadow: 3px 3px 3px var(--dark-blue-shadow);
}

.sub-heading {
  width: max-content;
  max-width: 95%;
  min-width: 20%;
  margin: 0 0 1.5rem 0;
  color: var(--text-light);
  background-color: var(--dusty-blue);
  box-shadow: 3px 3px 3px var(--shadow-navy);
  border-radius: .5rem;
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
}

/* SECTIONS! */

.btn-grey{
  padding: 0.3rem .5rem;
  margin:0rem;
  background-color: var(--btn-grey);
  text-align: center;
  align-self: center;
  color: var(--btn-text);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px var(--btn-grey-hover);
}

.btn-grey:hover{
  color: var(--btn-text-hover);
  background-color: var(--btn-grey-hover);
  transition: 0.2s;
  box-shadow: none;
}

.btn-blue{
  background-color: var(--btn-blue);
  color:var(--text-light);
  padding: .75rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px hsl(215, 55%, 15%);
}

.btn-blue:hover{
  background-color: var(--btn-blue-hover);
  box-shadow: none;
  transition: 0.2s;
}

.text-link a{
  color: var(--text-light);
  text-decoration: underline;
  text-underline-offset: .29rem;
  font-style: italic;
}

/* Jump to section buttons */

.title .jump{
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
}

  .title .jump h6{
    text-align: center;
    height:30%;
    align-content: center;
    margin: 0;
    padding: .25rem 0rem;
  }

  .title .jump .sections{
    display: flex;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
  }

    .title .jump .sections a{
      width: 33%;
      color: var(--text-light);
      text-align: center;
      align-content: center;
      background-color: var(--bg-dark-blue);
      padding: .6rem .1rem;
    }

    .title .jump .sections a:hover{
      background-color: var(--dark-blue-shadow);
    }

.title .jump .sections a p{
  padding: 0rem;
  font-size: 1rem;
  height:20px;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title .jump .sections .info-btn {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
} 

  .title .jump .sections .info-btn p{
    border-left: 2px var(--text-light) solid;
  } 

  .title .jump .sections .pricing-btn p{
    border-left: 2px var(--text-light) solid;
    border-right: 2px var(--bg-light) solid;
  } 

.title .jump .sections .gallery-btn {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
} 

  .title .jump .sections .gallery-btn p{
    border-right: 2px var(--bg-light) solid;
  } 

/* INFO SECTION 1 UTILITY/SELECT/CUSTOM SHEDS */

.info-section-1 {
  width: 100%;
  margin: 0rem;
  padding: 0rem 0rem;
  /* background-color: #486581; */
  color: var(--text-light);
}

.info-section-1 .content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info-section-1 img {
  padding: 0rem;
  object-fit: cover;
  overflow: hidden;
  object-position: 70% 50%;
}

.info-section-1 .text {
  padding: 1.5rem 1rem;
  align-content: center;
}

.info-section-1 p {
  margin: 0rem;
  padding: 0.5rem 1rem;
}

@media only screen and (min-width: 1400px) {
  .info-section-1 p,.info-section-2 p,.info-section-3 p {
    font-size: 1.5rem;
  }
}

/* INFO SECTION 2 UTILITY/SELECT/CUSTOM */

.info-section-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  background-color: #486581;
  /* background-image: linear-gradient(to top, #343a40, var(--bg-grey-blue), var(--bg-grey-blue), var(--bg-grey-blue)); */
  color: var(--text-light);
}

.info-section-2 .text {
  padding: 2rem 1rem;
  align-content: center;
}

.info-section-2 p {
  margin: 0rem;
  padding: 0.5rem 1rem;
}

.info-section-2 img {
  padding: 0rem;
  padding-right: 0rem;
  object-fit: cover;
  overflow: hidden;
  object-position: left;
}

@media only screen and (max-width: 1105px) {
  .features {
    background-size: contain;
  }
}

/* SKIP TOP JUMP BACK TO TOP */

.skip-top {
  width: 3.5rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem;
  margin: 2rem 1.5rem;
  background-color: var(--bg-dark);
  border: var(--blue-grey) 0.05rem solid;
  border-radius: 0.3rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 98;
}

.skip-top a {
  color: var(--text-light);
  padding: 0rem;
  text-decoration: none;
}

.skip-top:hover {
  background-color: var(--blue-grey);
  border: var(--text-light) 0.05rem solid;
  text-decoration: underline 0.05rem var(--text-light);
  text-decoration: none;
}

.skip-top svg {
  display: block;
  justify-content: center;
}