.shed-header {
  background-image: url(../images/headers/sugarhouse-banner.PNG);
}

.gradient {
  background-image: linear-gradient(to right, #212529ad, #2125298c, #21252958, #21252900, #21252900);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 590px) {
  .shed-header {
    background-image: url(../images/headers/webP/sugarhouse-header-small.webp);
  }

  .gradient {
    background-image: linear-gradient(to right, #212529, #212529a1, #21252965, #21252937);
  }
}

@media only screen and (max-width: 1000px) {
  .gradient {
    background-image: linear-gradient(to right, #212529ad, #21252955, #21252955, #21252900, #21252900);
  }
}

/* SUGAR HOUSES SECTION 1 */

.info-section-1 .image {
  object-fit: cover;
  overflow: hidden;
}

.info-section-1 .image img {
  width: 100%;
  justify-content: center;
}

.info-section-1 .image p {
  margin: 0rem 3rem;
  padding: 0rem;
  text-align: center;
  align-content: center;
  font-size: 1.3rem;
}

/* SUGAR HOUSE FEATURES */

.features .secondary .cell {
  width: 50%;
}

.features .heading {
  display: flex;
  color: var(--text-light);
  background-color: var(--dusty-blue);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.features .title {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  align-self: center;
}

.features .heading .text {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .features .secondary .cell {
    width: 100%;
  }
}

/* Pricing section */

.pricing .heading {
  width: 98%;
  color: var(--text-light);
  background-color: var(--dusty-blue);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  text-align: center;
  margin: 0rem;
}

.pricing .heading .title {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  padding: 1rem 1rem 1rem 1.5rem;
}

.pricing .double-table {
  margin: 0rem;
}

.pricing .respon-table {
  width: 98%;
  margin: 0rem;
}