.shed-header {
    background-image: url(../images/headers/sugarhouse-banner.PNG)
}

.gradient {
        background-image: linear-gradient(to right, #21252974 , #21252943 , #21252900 , #21252900 ,#21252900);
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



/* SUGAR HOUSES SECTION 1 */

.info-section-1 {
    width: 100%;
    margin: 0rem;
    padding: .5rem 0rem;
    background-color: #415a77;
    border-top:3px solid #cbd2dc;
    border-bottom:3px solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
}


.info-section-1 .section-title {
    margin: .5rem 0 .5rem 1rem;
    border:3px solid #cbd2dc;
}

.info-section-1 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .info-section-1 .image {
            width:50%;
            padding-left: 0rem;
            object-fit: cover;
            overflow: hidden;
        }

            .info-section-1 .image img {
                object-fit:cover;
                overflow: hidden;
                height:82%;
                width: 100%;
                padding: .3rem;
                padding-left: 0rem;
            }

            .info-section-1 .image p{
                height:18%;
                margin: 0rem 3rem;
                font-size: 1.2rem;
                padding: .5rem;
                text-align: center;
                align-content: center;
                }
            
    .info-section-1 .text {
            width:50%;
            padding: .5rem;
        }
    
    .info-section-1 .text p{
        padding: .5rem;
        margin: 0rem;
    }


/* SUGAR HOUSE FEATURES */
.features table {
    margin: 1.5rem auto;
}

.features table.select {
    
}

.features .heading{
    display: flex;
    color: #f5f5f5;
    text-shadow: #212529 .08rem .08rem .05rem;
    background-color: #415A77;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
    .features .heading .title{
        width:33%;
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;
        text-align: left;
        padding: 1rem 1rem 1rem 1.5rem;
    }

    .features table.custom .heading .title {
        width:35%;
    }

        .features .heading .text{
            width:65%;
            font-size: 1.2rem;
            font-weight: 400;
            font-style: italic;
            text-align: left;
            padding: 1rem 0rem;
        
        }  

.features table.custom {

}






.pricing {

}

.pricing .content {
    display: flex;
    flex-direction: row;
}

    .pricing table {
        width:48%;
        border-radius: .5rem;
    }

        .pricing th.title{
            color: #f5f5f5;
            text-shadow: #212529 .08rem .08rem .05rem;
            background-color: #415A77;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            font-size: 2.4rem ;
            }

        .pricing table th{
            font-size: 1.8rem ;
            padding: .8rem .5rem;
        }

        .pricing table td{
            padding: .8rem .5rem;
        }