:root {
  --bg-dark: #212529;
  --bg-light: #f5f5f5;
  --dusty-blue: #415a77;
}

.shed-header {
  background-image: url(../images/headers/sugarhouse-banner.PNG);
}

.gradient {
  background-image: linear-gradient(to right, #21252974, #21252943, #21252900, #21252900, #21252900);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .shed-header {
    background-image: url(../images/headers/sugarhouse-header-small.jpg);
  }
}

/* SUGAR HOUSES SECTION 1 */

.info-section-1 .image {
  object-fit: cover;
  overflow: hidden;
}

.info-section-1 .image img {
  width: 100%;
  justify-content: center;
}

.info-section-1 .image p {
  margin: 0rem 3rem;
  padding: 0rem;
  text-align: center;
  align-content: center;
  font-size: 1.3rem;
  line-height: 1.45;
}

/* SUGAR HOUSE FEATURES */

.features .secondary .cell {
  width: 50%;
}

.features .heading {
  display: flex;
  color: var(--bg-light);
  background-color: var(--dusty-blue);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.features .title {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  align-self: center;
}

.features .heading .text {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .features .secondary .cell {
    width: 100%;
  }
}

/* Pricing section */

.pricing .heading {
  width: 98%;
  color: var(--bg-light);
  background-color: var(--dusty-blue);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  margin: 0rem;
}

.pricing .heading .title {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  padding: 1rem 1rem 1rem 1.5rem;
}

.pricing .double-table {
  margin: 0rem;
}

.pricing .respon-table {
  width: 98%;
  margin: 0rem;
}