/* HEADER */

.large-header {
    background-image: url(../images/headers/upgrades.jpg);
    background-position: center ;
    height: 90vh;
    margin-bottom: 0rem;
}

.gradient {
        background-image: linear-gradient(to right, #212529ab , #21252958 ,#21252900 , #21252900);
        height: 100%;
        width:100%;
    }


/* SECTION 1 */
.section-1 {
    width: 100%;
    margin: 0rem 0rem 1.5rem 0rem;
    padding: 0rem 0rem;
    background-color: #415a77;
    border-top:3px solid #cbd2dc;
    border-bottom:3px solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem 0rem;
}

.section-1 .section-title {
    margin: .5rem 0 .5rem 1rem;
    border:3px solid #cbd2dc;
}
.section-1 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
    .section-1 img {
        width:30%;
        padding-left: 0rem;
        object-fit: cover;
        overflow: hidden;
    }
    .section-1 .text {
            width:70%;
            padding: 0rem;
            display: flex;
            flex-direction: column;
        }
    
    .section-1 .text-1 {
        padding: .5rem 1rem;
        margin: 0rem;
        width:100%;
    }
    .section-1 .text-2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #1b263b;
        border: 3px solid #cbd2dc;
        border-bottom: none;
    }
       .section-1 .text-2 .contact{
                width: 50%;
                margin: 0rem;
                padding: .5rem;
                align-content: center;
            }
        .text-2 .option-2 {
                width: 45%;
                height:100%;
                align-items: center;
                justify-content: center;
            }
        .section-1 .option-2 a{
            width: 100%;
            height: 30%;
            text-align: center;
            align-content: center;
            font-size: 1.2rem;
            color: #f5f5f5;
            background-color: #212529;
            border: #495057 1px solid;
            border-radius: .3rem;
            padding:.5rem;
            display: block;
            margin: 1.5rem 0rem;
        }
            .section-1 .option-2 a:hover{
                color:#e2e3e5;
                background-color: #495057;
                border: #f5f5f5 1px solid;
                transition: .2s;
            }


/* UPGRADES SECTIONS */

.upgrade-section {
    width: 100%;
    margin: 0rem 0rem 1rem 0rem;
    padding: .5rem 0rem 0rem 0rem;
    border-top:3px solid #cbd2dc;
    border-bottom:3px solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem 0rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.upgrade-section .section-title {
        margin: 0 0 1rem 1rem;
}

.upgrade-section .content {
    padding: 0rem 2rem 1rem;
    display:flex;
    flex-direction: row;
    align-items: center;
}

        .upgrade-section .sub-heading {
            width: 60%;
            margin: 0rem;
        }

    .upgrade-section .content .sub-section{
        width: 60%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

        .upgrade-section .sub-section p{
            width: 90%;
            padding: 1rem 2rem;
            font-style: italic;
        }
            .upgrade-section .content .option{
                width:100%;
                display: flex;
                flex-direction: row;
                padding: 1rem 2rem;
                margin: .5rem 0rem;
                background-color: #2125297b;
            }

            

                .upgrade-section .content .option p{
                    width: 85%;
                    padding: 0rem;
                }

                .upgrade-section .content .option .price{
                    width: 15%;
                    text-align: center;
                }

        
/* UPGRADES CAROUSEL */
    .upgrade-section .content .carousel.slide{
        width: 40%;
        height: 300px;
        padding: 0rem .3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
        .carousel.slide .carousel-item img{
            object-fit:cover ;
            overflow:hidden;
            width: 100%;
            height: 300px;
            margin: 0rem auto;
            object-position: center;
        }
        .carousel.slide .carousel-item .carousel-caption{
            padding: 0rem;
        }
            .carousel.slide .carousel-inner {
                width: 90%;
            }
            .carousel.slide .carousel-control-prev,.carousel-control-next {
                width:5% ;
            }








.upgrade-section .sub-content {
    padding: 0rem 2rem;
    background-color: #1b263b;
    border: 3px solid #cbd2dc;
    border-bottom: none;
}




/* WINDOW UPGRADES */

#window.upgrade-section {
    background-image:url(../images/upgrades/wood-background.jpg) ;
    background-blend-mode:darken;
    background-color: #212529b6;
}


    
/* DOOR UPGRADES */

#door.upgrade-section {
    background-image:url(../images/upgrades/wood-background.jpg) ;
    background-blend-mode:darken;
    background-color: #212529b6;
   
}

/* SIDING UPGRADES */

#siding.upgrade-section {
    background-image:url(../images/upgrades/wood-background.jpg) ;
    background-blend-mode:darken;
    background-color: #212529b6;
   
}

/* ROOF UPGRADES */

#roof.upgrade-section {
    background-image:url(../images/upgrades/wood-background.jpg) ;
    background-blend-mode:darken;
    background-color: #212529b6;
   
}

/* MISC UPGRADES */

#misc.upgrade-section {
    background-image:url(../images/upgrades/wood-background.jpg) ;
    background-blend-mode:darken;
    background-color: #212529b6;
   
}