/* HEADER */

.large-header {
  background-image: url(../images/headers/webP/upgrades.webp);
  background-position: center;
  height: 60vh;
  margin-bottom: 0rem;
}

.gradient {
  background-image: linear-gradient(to right, #212529ab, #21252958, #21252900, #21252900);
  height: 100%;
  width: 100%;
}

/* JUMP TO SECTION */

.btn-group {
  flex-wrap: wrap;
}

/* SECTION 1 Intro*/

.section-1 {
  margin: 0rem;
  padding: 1rem 0rem 0rem 0rem;
  background-color: var(--dusty-blue);
  color: var(--bg-light);
}

.section-1 .section-title {
  margin: 0 0 0.5rem 0rem;
  border: 0.18rem solid var(--bg-grey);
}

.section-1 img {
  padding: 0.3rem 0rem 0rem 0rem;
  object-fit: cover;
  overflow: hidden;
}

.section-1 .caption p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.8;
}

.section-1 .text {
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.section-1 .text-1 p {
  margin: 0rem;
  padding: 0.5rem 1.5rem;
}

.section-1 .text-2 {
  background-color: var(--bg-dark-blue);
  border: 0.18rem solid var(--bg-light);
  border-bottom: none;
  padding: 1rem 0.5rem;
}

.section-1 .text-2 .section {
  padding: 0rem 0.5rem;
}

.section-1 .text-2 .section p {
  padding: 0.5rem;
}

.section-1 .text-2 .contact {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1 .text-2 .contact h6 {
  padding-top: 0.5rem;
}

@media only screen and (min-width: 1400px) {
  .section-1 p {
    font-size: 1.5rem;
  }

  .section-1 .text-2 h6{
    font-size: 1.3rem;
  }
}

/* ALL UPGRADES SECTIONS */

.upgrade-section {
  margin: 0rem;
  padding: 2rem 1rem 0rem 1rem;
  border-top: 0.18rem solid var(--bg-grey);
  border-bottom: none;
  color: var(--bg-light);
  /* background-blend-mode: darken;
  background-color: #212529b6; */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#window.upgrade-section,#siding.upgrade-section,#misc.upgrade-section {
  background-image: linear-gradient(to top, #212529a2, #212529a2), url(../images/background-images/webp/wood-2-background.webp);
}

#door.upgrade-section,#roof.upgrade-section {
  background-image: linear-gradient(to top, #2125298a, #2125298a), url(../images/background-images/webp/wood-background.webp);
}

.upgrade-section .section-title {
  margin: 0 0 2rem 0rem;
}

.upgrade-section .sub-heading {
  margin: 0rem;
}

.upgrade-section .content {
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

.upgrade-section .content p.intro {
  padding: 1rem 1rem 0rem 1rem;
  font-style: italic;
}

.upgrade-section .content .sub-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
}

.upgrade-section .content .text {
  display: flex;
}

.upgrade-section .text .option {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.7rem;
  margin: 1rem 0rem;
  background-color: #2125297b;
}

.upgrade-section .content .option p {
  padding: 0rem;
}

.upgrade-section .content .option .price {
  text-align: center;
  align-self: center;
}

@media only screen and (max-width: 1105px) {
  .upgrade-section {
    background-attachment: unset;
  }
}

/* UPGRADES CAROUSEL */

.upgrade-section .content .carousel.slide {
  height: 25rem;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}

.carousel.slide .carousel-item img {
  object-fit: contain;
  overflow: hidden;
  height: 25rem;
  margin: 0rem auto;
  object-position: center;
}

.carousel.slide .carousel-item .carousel-caption {
  padding: 0rem;
}

.carousel.slide .carousel-inner {
  width: 88%;
}

.carousel.slide .carousel-control-prev,.carousel-control-next {
  width: 6%;
}

/* BOTTOM SUB CONTENT      */

.upgrade-section .sub-content {
  padding: 1rem 1.5rem;
  margin: 0rem 0rem 0rem -1rem;
  background-color: var(--bg-dark-blue);
  border: 0.18rem solid var(--bg-grey);
  border-bottom: none;
}

.upgrade-section .sub-content p {
  padding: 0.25rem 0rem;
  font-size: 1rem;
}

/* DOOR UPGRADE INTRO TEXT */

.upgrade-section#door .content p.intro {
  padding: 1rem 0rem 0rem 1rem;
}

/* SIDING UPGRADES */

#siding.upgrade-section .content {
  padding: 0rem 1rem 2rem 2rem;
}

#siding.upgrade-section .content .text {
  flex-direction: column;
  justify-content: center;
}

#siding.upgrade-section .content .text p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

#siding.upgrade-section .content .text ul {
  padding: 0rem;
  margin: 0rem;
  list-style-position: inside;
}

#siding.upgrade-section .content .text li {
  background-color: #2125297b;
  padding: 1rem;
  margin: 1rem 0rem;
  font-size: 1.2rem;
}

/* ROOF PITCH/OVERHANG UPGRADE SUB-SECTION */

.upgrade-section #pitch-overhang.content .text {
  flex-direction: column;
}

