/* HEADER */

.shed-header {
  background-image: url(../images/headers/webP/utility-sheds-banner.webp);
}

.gradient {
  background-image: linear-gradient(to right, #21252974, #21252943, #21252900, #21252900, #21252900);
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 590px) {
  .shed-header {
    background-image: url(../images/headers/webP/utility-shed-header-small.webp);
  }
  .gradient {
    background-image: linear-gradient(to right, #212529, #212529a1, #21252965, #21252937);
  }
}

@media only screen and (max-width: 1000px) {
  .gradient {
    background-image: linear-gradient(to right, #212529ad, #21252955, #21252955, #21252900, #21252900);
  }
}