


.shed-header {
    background-image: url(../images/headers/utility-sheds-banner.PNG)
}

 .gradient {
        background-image: linear-gradient(to right, #21252974 , #21252943 , #21252900 , #21252900 ,#21252900);
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    


/* INFO SECTION 1   */

.info-section-1 {
    width: 100%;
    margin: 0rem ;
    padding: .5rem 0rem;
    background-color: #415a77;
    border-top:3px solid #cbd2dc;
    border-bottom:3px solid #cbd2dc;
    color:#f5f5f5;
    text-shadow: #212529 .08rem .08rem 0rem;
}


.info-section-1 .section-title {
    margin: .5rem 0 .5rem 1rem;
    border:3px solid #cbd2dc;
}
.info-section-1 .content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .info-section-1 img {
        width:50%;
        padding-left: 0rem;
        object-fit: cover;
        overflow: hidden;
    }

    .info-section-1 .text {
            width:50%;
            padding: .5rem;
        }
    
    .info-section-1 p {
        padding: .5rem;
        margin: 0rem;
    }



/* INFO SECTION 2 */

.info-section-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem 0rem 1.5rem 0rem;
    padding: .5rem 0rem;
    background-color: #415A77;
}

    .info-section-2 img {
        width:50%;
        padding: .5rem;
        padding-right: 0rem;
        object-fit: cover;
        overflow: hidden;
    }

    .info-section-2 .text {
            width:50%;
            padding: .5rem;
        }
    
    .info-section-2 p {
        padding: .5rem;
        margin: 0rem;
    }




/* GALLERY MODAL */ 

.modal {
    height: 100vh;
    width:100vw;
    background-color: #21252978;
    display: block;
}

    .modal-body {
        display: flex;
        flex-direction: row;
        height:100%;
        margin: 0rem 2rem;
    }

        .modal .prev,.modal .next {
            width: 5%;
            align-content: center;
        }


        .modal .prev {
            background-color: #415A77;
            height: 30%;
            align-content: center;
            margin:auto;
            text-align: center;
        }

        .modal .next {
            background-color: #415A77;
            height: 30%;
            align-content: center;
            margin:auto;
            text-align: center;
        }

            .modal .prev p,.modal .next p{
                font-size: 3rem;
                padding: .5rem;
                align-content: center;
                margin: 0rem;
                height:100%;

            }

        #utility-modal-card-template {
            margin: 0rem;
            height:100%;

        }

        .modal .modal-card {
            width: 95%;
        }


        .modal .js-modal {
            height:100%;
        }


.js-modal {

}


/* GALLERY CARD WITHIN MODAL */

.modal .gallery-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#f5f5f5;
    border-radius: .3rem;
    margin: 1rem 0rem;
    padding: .5rem;
}

.modal .card-body {
        height: 15%;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        padding: .5rem 0rem 0rem 0rem;
        
    }

        .modal .card-body p {
            height: 70%;
            margin: 0rem ;
            padding: 0rem .2rem;
            font-size: 1.1rem;
            align-content: center;
        }

        .modal .card-body h5 {
            height: 30%;
            margin: 0rem ;
            padding: 0rem;
            align-content: center;
            font-size: 1rem;
        }



    .modal .gallery-card img{
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .modal .card-img-top img{
        object-position: center;
        height: 100%;
    }

    





    