:root {
  --sage: #81b29a;
  --coral: #e07b5ff6;
  --navy: #3d405b;
  --light-blue: #c2c2e4;
  --sand: #f4f1de;
  --grey: #21252987;
}


header {
}

.index-header {
  overflow: hidden;
  margin-top: -3rem;
}

.index-header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.index-header .text .content {
  border-right: 2px var(--grey) solid;
  padding: 1rem 0rem;
}
.index-header .image {
  padding: 0rem;
  object-fit: cover;
}

.index-header img {
  overflow: hidden;
  object-fit: cover;
}

.index-header h1 {
  font-size: 3rem;
  padding: 1rem 0rem;
}
.index-header h2 {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  display: inline;
  width: auto;
  background: var(--sage);
}
.section-1,.section-2,.section-3 {
  border-top: 2px var(--grey) solid;
}

.section-1 h2,.section-2 h2,.section-3 h2 {
  padding: 1rem;
}

.project {
  overflow: hidden;
  background-color: #c2c2e4;
  margin: 0.5rem 0rem;
  transition: all 0.5s ease;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #000000;
}

.project:hover {
  background-color: var(--navy);
  color: #ffffff;
}

.project .text {
  padding: 0.5rem;
}

.project img {
  object-fit: cover;
}

.image-container {
  position: relative;
  height: 18rem;
  overflow: hidden;
}

.image-container .image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.75s ease;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay.one {
  background-image: url(../images/index/index-vcs-final.png);
}

.overlay.two {
  background-image: url(../images/index/vcs-bootstrap-index.png);
}

.overlay.three {
  background-image: url(../images/index/vcs-og-index.png);
}

.image-container:hover .overlay.one,.image-container:hover .overlay.two,.image-container:hover .overlay.three {
  width: 100%;
  left: 0;
}



.section-2 .section-body{
  border-left: 3px #000000 solid;
}

.section-2 .item{

}

.section-2 .item svg {
  position: relative;
  padding: .15rem;
  left:-.7rem;
  top: 1.7rem;
  background-color: #000000;
  border-radius: 50%;
}

.section-2 .item .intro{
  display: flex;
  justify-content:space-between;
}
.section-2 .item .heading{
  display: flex;
  flex-direction: column;
}

.section-2 .item .heading h3{

}

.section-2 .item .heading h4{
 padding: 0rem 0rem 0rem .5rem;
}

.section-2 .item .date{
  
}

.section-2 .item .content{
    display: flex;
    flex-direction: column;
}
.section-2 .item .content p{

}

.section-2 .option-one .skill{
padding:1rem;

}
.section-2 .skill p{
  background-color: var(--sage);
  text-align: center;
  padding:.5rem;
  border-radius: 1rem;
  display: inline-block;
  margin: .25rem;
}

.section-2 .option-two .skill{

}
