header {
}

.index-header {
  overflow: hidden;
}

.index-header .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.index-header .text .content {
  border-right: 2px #21252987 solid;
  padding: 1rem 0rem;
}
.index-header .image {
  padding: 0.5rem;
  object-fit: cover;
}

.index-header img {
  overflow: hidden;
  object-fit: cover;
}

.index-header h1 {
  font-size: 3rem;
  padding: 1rem 0rem;
}
.index-header h2 {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  display: inline;
  width: auto;
  background: #81b29a;
}
.section-1 {
  border-top: 2px #21252987 solid;
}

.section-1 h2 {
  padding: 1rem;
}

.project {
  overflow: hidden;
  background-color: #c2c2e4;
  margin: 0.5rem 0rem;
  transition: all 0.5s ease;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #000000;
}

.project:hover {
  background-color: #3d405b;
  color: #ffffff;
}

.project .text {
  padding: 0.5rem;
}

.image-container {
  position: relative;
  border: 1px #212529cd solid;
  height: 18rem;
  overflow: hidden;
}

.image-container .image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.75s ease;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay.one {
  background-image: url(../images/index/index-vcs-final.png);
}

.overlay.two {
  background-image: url(../images/index/vcs-bootstrap-index.png);
}

.overlay.three {
  background-image: url(../images/index/vcs-og-index.png);
}

.image-container:hover .overlay.one,
.image-container:hover .overlay.two,
.image-container:hover .overlay.three {
  width: 100%;
  left: 0;
}
