:root {
  --sage: #81b29a;
  --coral: #e07b5ff6;
  --navy: #3d405b;
  --light-blue: #c2c2e4;
  --sand: #f4f1de;
  --grey: #21252987;
}

h2{
  margin:0rem;
}


body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  padding: 0rem;
  margin: 0rem;
  text-decoration: none;
}

p {
  padding: 0rem;
  margin: 0rem;
}
.row > * {
  padding: 0rem;
  margin: 0rem;
}

.row {
  margin: 0rem;
}

html {
  margin: 0rem;
}



